[2012-05-18 22:20] zitterbewegung opened #1 "Calendar Subscription Feature."
Allow for meetings to be exported in ical format to be able to be subscribed by people that wish to go to ChiPy.

A suggested package would be http://pypi.python.org/pypi/icalendar

[2012-05-18 22:22] zitterbewegung opened #2 "Json metadata export"
Allow for JSON to be generated by the site in the format that Carl Karsten requires so that he is able to record videos without manually importing data.

[2012-09-25 02:28] emperorcezar opened #5 "How should topics be added"
When someone submits a topic, should it attach to a meeting and be in a pending state, or should it float around until an admin attaches it?

[2013-01-08 23:06] emperorcezar opened #7 "RSVP Total not showing"
![Screen Shot 2013-01-08 at 5 06 09 PM](https://f.cloud.github.com/assets/68407/51998/05a6d03a-59e8-11e2-904f-6d9a9b27a1a2.png)

[2013-01-09 04:07] #7 closed, assigned to nobody

[2013-01-15 20:42] codersquid opened #8 "github based login is broken"
Click login. Click github option. receive stacktrace.

Environment:

Request Method: GET
Request URL: http://chipy.herokuapp.com/login/github/

Django Version: 1.4.3
Python Version: 2.7.3
Installed Applications:
['grappelli',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.messages',
 'django.con

[2013-01-15 20:45] #8 closed, assigned to nobody

[2013-02-15 21:16] brianray opened #9 "CSRF traceback on contact form"
http://chipy.herokuapp.com/contact/

Forbidden (403)
CSRF verification failed. Request aborted.

[2013-02-15 21:19] brianray opened #10 "Link to change my RSVP broken"
http://chipy.herokuapp.com/meetings/rsvp/anonymous/u8shbe10s3drv9d7tq61s14rj5tm4b49yz0ezj24/

Creates the following traceback:

Environment:

Request Method: GET
Request URL: http://chipy.herokuapp.com/meetings/rsvp/anonymous/u8shbe10s3drv9d7tq61s14rj5tm4b49yz0ezj24/

Django Version: 1.4.3
Python Version: 2.7.3
Installed Applications:
['grappelli',
 'django.contrib.admin',
 'django.contrib.auth',

[2013-02-15 21:23] brianray opened #11 "Linking GitHub Account changed my name"
changed to "BRIAN RAY RAY" ... note the extra Ray.

[2013-02-15 22:46] brianray opened #12 "Change body text to be less crouded"
The welcome text looks crowded

[2013-02-16 03:29] #9 closed, assigned to nobody

[2013-02-16 03:52] #10 closed, assigned to emperorcezar

[2013-02-16 04:03] #11 closed, assigned to emperorcezar

[2013-02-17 23:26] brianray opened #13 "Heroku does not accept http://chipy.org"
Changed the CNAME to chipy.org and I get:

"Heroku | No such app
There is no app configured at that hostname.
Perhaps the app owner has renamed it, or you mistyped the URL."

If I change it to www2.chipy.org, then it works. Can it be configured to accept chipy.org to chipy.herokuapp.com?

[2013-02-17 23:29] #12 closed, assigned to nobody

[2013-02-18 04:37] brianray opened #14 "Do not show past meetings in propose a talk"
http://chipy.herokuapp.com/meetings/topics/propose

shows meetings. Only show future meetings. There is no point of proposing something in the past unless you own a delorean

[2013-02-18 04:44] brianray opened #15 "Should legal on propose say "ChiPy" or "PSF""
per ... "I, the Author(s), hereby grant the PSF"

[2013-02-18 04:58] #5 closed, assigned to nobody

[2013-02-18 04:59] #13 closed, assigned to emperorcezar

[2013-02-18 05:01] emperorcezar opened #16 "Venue dialog should be formated better"
Right now it's a jumble. Should be bigger and more spaced out.

[2013-02-18 15:04] brianray opened #17 "add me to ENVELOPE_EMAIL_RECIPIENTS environment settings"
Sure add me for backup.

[2013-02-18 15:08] brianray opened #18 "Migrate past meetings"
We need to migrate past meetings.

Also, at some point the speaker and locations got corrupt. Perhaps the initial_data.json that was originally used in the old site was correct and new versions that got stepped on in the mentorship program was wrong. (PK mismatched?).

I can help investigate.

[2013-02-18 15:33] #17 closed, assigned to nobody

[2013-02-18 16:27] zitterbewegung opened #19 "Can't Login"
When I try to login to the chipy.org website using my google credentials it doesn't log me in. Neither does logging in with my Github credentials.

Steps to reproduce.
1. Click login link
2. Click google button or github button

[2013-02-18 16:38] brianray opened #20 "get RSVP list out for meetings"
I need an easy way for an admin to share an RSVP list with the attendees first and last name.

Is it possible to create a link with a secret hash for every meeting I can just forward to the building's security department.  They should change for every meeting.

[2013-02-18 21:15] brianray opened #21 "RSVP No doe snot change count on Meeting"
I hit no, and it still said "5 going so far". I checked the RSVP record and it was toggled to No, so I think the count is off on the display

[2013-02-18 21:15] brianray opened #22 "RSVP buttons should not show current State"
There should be no "Yes" botton if I already voted Yes.

[2013-02-18 23:47] #21 closed, assigned to nobody

[2013-02-21 00:38] #19 closed, assigned to nobody

[2013-02-21 03:56] raffenet opened #24 "http://www.chipy.org/contact/ shows traceback"
This URL is showing a traceback. In addition to a fix, DEBUG should be set to False so a standard 500 is shown for errors.

[2013-02-21 04:24] #24 closed, assigned to nobody

[2013-02-21 05:01] paaschpa opened #25 "Change your RSVP email has wrong url link"
The hyperlink in the email body points to 'example.com/meetings/rsvp/anonymous/....'

I think the fix is:
- Log into Admin site
- Go to Sites
- Change Domain name to 'chipy.org'

[2013-02-21 05:10] #25 closed, assigned to nobody

[2013-02-23 19:53] #15 closed, assigned to nobody

[2013-02-23 20:01] #14 closed, assigned to nobody

[2013-02-23 21:04] #20 closed, assigned to nobody

[2013-02-25 03:28] codersquid opened #26 "github signin not working"
When I try to sign in with github, I land back on the main page with a notification "Authentication failed: redirect_uri_mismatch"

[2013-02-25 21:47] #26 closed, assigned to nobody

[2013-03-09 22:15] brianray opened #27 "De-dupe RSVP list"
looking on http://www.chipy.org/meetings/rsvp/list/xxxxxxx/ (replace xxxx with key), there are duplicates with the same exact name and email address.

Please investigate. I imagine these users RSVP'd twice?

[2013-03-09 22:45] #27 closed, assigned to nobody

[2013-03-13 02:47] brianray opened #28 "redirect wrong for propose"
1_ log out
2_ http://www.chipy.org/meetings/topics/propose
3_ http://www.chipy.org/login/?next=/meetings/topics/propose returns a 404

[2013-03-13 03:56] #28 closed, assigned to emperorcezar

[2013-03-19 18:08] brianray opened #29 "Show address NextMeeting without clicking"
Currently it is a light box; however, this is important information for navigation especially on  mobile device.

[2013-03-19 18:24] brianray opened #30 "Inline topics in meeting admin"
I would like the topics in one place for (at least) read only in the django admin

[2013-03-19 18:55] #29 closed, assigned to nobody

[2013-03-21 14:02] brianray opened #31 "Make sure meeting shows until End of day, not meeting start time"
We noticed this in past chipy.org sites that the meetings disappear at start time. This is problematic to attendees who are running late and might be looking for the address on our website.

Please ensure this does not happen tonight.

[2013-03-21 14:23] #31 closed, assigned to emperorcezar

[2013-03-25 01:24] brianray opened #32 "Past meetings is missing content"
Go to: http://www.chipy.org/meetings/past/

It is missing much detail.

[2013-04-05 03:34] #32 closed, assigned to nobody

[2013-04-08 19:49] brianray opened #33 "add more info on Admin list view page for Topics"
http://www.chipy.org/admin/meetings/topic/
- bool column if it has been approved.
- which meeting

[2013-04-09 14:07] brianray opened #34 "DEBUG is left on in production"
Please turn it off.

[2013-04-28 01:47] #34 closed, assigned to emperorcezar

[2013-05-13 13:55] emperorcezar opened #35 "Allow a topic to have multiple presentors"
This will probably only be doable in the admin since I'm not sure how to put together a reasonable UI for it on the frontend.

[2013-05-13 16:21] emperorcezar opened #36 "Allow presenters to choose a license to release their talk under"

[2013-05-19 19:44] #36 closed, assigned to nobody

[2013-05-28 13:57] CarlFK opened #37 "link to code on site"
under /about, have a link to here
https://github.com/chicagopython/chipy.org

[2013-05-28 14:41] #37 closed, assigned to nobody

[2013-05-29 02:58] brianray opened #38 "Investigate spam"
I'm seeing a lot of @msn.com in a row with only first name. fishy.

[2013-05-30 03:56] #35 closed, assigned to nobody

[2013-05-30 04:01] brianray opened #39 "Allow a graphic for a meeting"
Like the ULS one I emailed out to the group

[2013-06-01 14:08] brianray opened #40 "Presenter Name missing from Home Screen"
Probably related to allowing multiple presenters recently released.

![screen shot 2013-06-01 at 9 08 30 am](https://f.cloud.github.com/assets/676284/594941/c51500de-cac4-11e2-99e4-b5ef84686b1e.png)

[2013-06-01 21:00] CarlFK opened #41 "no id in api"

[2013-06-03 14:58] #40 closed, assigned to emperorcezar

[2013-06-03 15:04] #41 closed, assigned to nobody

[2013-06-14 08:43] CarlFK opened #42 "no email for presenter"
http://www.chipy.org/admin/meetings/presentor/14/
blank email

I email presenter's URLs of their videos.

[2013-06-23 01:58] brianray opened #43 "Presenters missing on Past Meetings page"
On the URL:

http://www.chipy.org/meetings/past/

They are missing "By"

[2013-07-05 21:25] codersquid opened #44 "My talk isn't listed as released but I gave permission"
I gave permission but _released_ is false.

[code]

[2013-07-06 17:19] codersquid opened #45 "Allow presenters to edit their related urls"
I'd like to be able to add a url for my talk slides or related materials after a talk is accepted. I don't have slides for my upcoming talk, because I haven't made them yet. Once I do make them, I'd like to link them to the talk.

I can see how this could be a problem in some ways. For example, what if my talk got accepted based on some slides, but then I change the slides. Those didn't accepted.

[2013-07-08 12:56] brianray opened #46 "github auth not pulling name"
saw this issue with sheila's registration, ticket #44

[2013-07-08 12:57] #44 closed, assigned to nobody

[2013-07-08 13:01] brianray opened #47 "Pull RSVPs from Meetup.com"
Here are the features for the meetup.com integration:
- (MVF) automatically pull and push RSVP from one site to another. Chipy.org is the official
- allow publishing to pull or push the actual meeting settings (this is a nice to have, not required, we can always enter info twice)
- automatically subscribe users to the mailing list when the join the chipy.org site or meetup.com (again, nice to have

[2013-07-08 14:18] #46 closed, assigned to emperorcezar

[2013-07-11 13:28] brianray opened #48 "Change RSVP link"
I tried changing my RSVP through the link in the email, but it goes

here:
http://example.iana.org/

email:
DoNotReply@chipy.org via sendgrid.me

to me
To change your rsvp, click here

Cheers,
Paige

[2013-07-11 14:19] #48 closed, assigned to emperorcezar

[2013-07-11 16:47] emperorcezar opened #49 "Email required on anonymous rsvp page, but the form doesn't require it"

[2013-09-12 16:50] brianray opened #50 "Send email reminders"
- Week of event they have RSVP'd
- Day of the event they have RSVP'd

[2013-10-14 18:14] codersquid opened #51 "Do not disclose RSVP emails to hosts"
Do not disclose to hosts beyond what is necessary to get in to a venue, such as ID name.

[2013-10-16 17:58] codersquid opened #52 "add information on how to sponsor or host chipy events"
We have a page with venue requirements that was created by Carl a while back, but that is written from an AV perspective. We could have an informational page about hosting events that is more general. We could talk about different types of events and how sponsors can host each type of event, for example

* events with talks (like our monthly meetings)
* social events
* project nights
* sprints

Ma

[2013-11-20 21:17] brianray opened #53 "Twitter Feed watching #ChiPy"
On the side of site, wouldn't that be Rad--who uses that word? lol

[2013-12-05 22:17] codersquid opened #54 "tinymce broken in flatpages"
When trying to use one of the widgets like anchors, the url goes to an empty s3 page...

http://s3.amazonaws.com/chipy/tiny_mce/themes/advanced/anchor.htm

[2014-01-05 04:36] #38 closed, assigned to emperorcezar

[2014-01-05 04:49] #51 closed, assigned to nobody

[2014-01-05 05:10] #42 closed, assigned to nobody

[2014-01-05 05:19] #49 closed, assigned to nobody

[2014-01-05 05:29] #43 closed, assigned to emperorcezar

[2014-01-15 21:52] brianray opened #55 "Historical Meetings should show RSVP counts"
The historical meetings should show how many RSVPs we had.

[2014-01-16 23:56] codersquid opened #57 "have rsvp questions"
Add a feature so that you can prompt for questions when people sign up, similarly to how meetup works.

Here are three questions I would ask, depending on whether a host needs ID for security and whether they offer food.
- Some hosts require a list of names for security. What is the name that appears on your ID?
- Some hosts sponsor food. Do you have any food preferences or concerns?
- Do you need

[2014-01-30 23:53] ConceitedCode opened #63 "Add a +1 button to vote on topics and guage interest"

[2014-02-11 21:18] brianray opened #64 "Add a Code of Conduct"
For a flat page and a link to from home page. use:

https://us.pycon.org/2014/about/code-of-conduct/
http://www.python.org/psf/codeofconduct/

Also add the word "DRAFT" to the top and bottom.

[2014-02-19 21:17] #64 closed, assigned to nobody

[2014-02-23 02:07] mnewsome opened #65 "Form Submission on Give A Talk page"
Form cannot be submitted if there is no meeting scheduled.  Will generate "This field is required" validation error if the Meeting is left at "--------"

Please provide workaround.
![screen shot 2014-02-22 at 4 57 25 pm](https://f.cloud.github.com/assets/624585/2239412/406805ec-9c2f-11e3-92ca-8f17f80775a1.png)

[2014-02-27 19:26] #65 closed, assigned to nobody

[2014-03-03 20:39] brianray opened #66 "traceback caused by #59"
traceback caused by #59

{{{
From: root@localhost root@localhost
Reply: root@localhost root@localhost
Date: March 3, 2014 at 10:20:30 AM

To: emperorcezar@gmail.com emperorcezar@gmail.com
Subject:  [Django] ERROR (EXTERNAL IP): Internal Server Error: /meetings/ical/
Traceback (most recent call last):

File "/app/.heroku/python/lib/python2.7/site-packages/django/core/handlers/base.py", line 111, in

[2014-03-06 22:15] #66 closed, assigned to nobody

[2014-04-23 19:01] brianray opened #69 "can't save urls in admin"
see screen shot. Perhaps blocked url from server?
![image](https://cloud.githubusercontent.com/assets/676284/2781936/a5af9a00-cb19-11e3-92bc-e6c84de782fb.png)

[2014-04-30 19:43] brianray opened #71 "LOE of adding an Ad Box with click tracking"
Please let me know how much work it would be to add an banner add system to the main page of our website. It needs click tracking with all expected analytic. I am open to approach suggestions.

Wait for ChiPy Board approval before writing any code.

[2014-05-02 19:57] agfor opened #72 "Problems with editing flat pages in admin"
1. None of the pop-ups from the editor work, so I can't create links either with the anchor button or the raw HTML edit button. I get a blank popup window for both.
2. After editing them, both `/conduct/` (I didn't change the URL) and `/organizers/` (I changed the URL from `/board/`) are 404ing.

[2014-05-02 20:17] #72 closed, assigned to nobody

[2014-06-03 12:49] #55 closed, assigned to nobody

[2014-07-18 03:52] #54 closed, assigned to nobody

[2014-07-18 03:53] #53 closed, assigned to nobody

[2014-07-28 20:41] brianray opened #75 "Chip-pee"
As in "chip" chip-munk.

Need to add a .wav or something on how to pronounce.

[2014-12-07 17:30] agfor opened #79 "Topics for this month not showing up under "This Month's Topics""
The meeting shows up under "Next Meeting", the topics are approved and associated with the meeting, but don't show up under "This Month's Topics." What do we need to do to make that happen?

[2014-12-07 18:17] #79 closed, assigned to nobody

[2015-01-02 15:55] foresmac commented on #47
I'll pitch in any way I can, even if it's just code review or whatever.

[2015-01-04 17:33] brianray commented on #47
Hey guys:  I met with the 5 of the ChiPy organizers today and we discussed this ticket. This is our top priority for 1st quarter this year. Thank you for the leadership on this. @emperorcezar and @foresmac did you guys want to take the leadership on this and give me some sort of development plan. It can be simple, however, I just want to take the stakeholder role here and I will report progress ba

[2015-01-04 21:13] emperorcezar commented on #47
My plan  is to work on this during my train rides this week cause I'm
downtown four days.

I think step one is to pull rsvps from meetup.

So that's what I'm planning to work on this week.
On Jan 4, 2015 11:33 AM, "Brian Ray" <notifications@github.com> wrote:

[2015-01-04 21:20] emperorcezar commented on #47
Forgot to mention. I don't see a reason  to have a big plan. I'm going to
ask that we break down our wanted features into individual issues on
github.

Once I have basic integration going with API keys ect. then anyone can pull
up and grab the other features.
On Jan 4, 2015 3:13 PM, "Adam "Cezar" Jenkins" <emperorcezar@gmail.com>
wrote:

[2015-01-05 00:23] brianray commented on #47
no big plan can be a great plan, lol. I agree with breaking into individual issues. Please let me know what they are once you do it.

[2015-01-05 13:15] emperorcezar commented on #71
Any updates on this?

[2015-01-05 13:16] #69 closed

[2015-01-05 13:18] emperorcezar opened #80 "Pull meetings to meetup.com"
The idea is to push meetings to meetup when they are created/edited on the site.

[2015-01-05 13:18] #18 closed

[2015-01-05 13:20] emperorcezar commented on #52
I believe someone already put up this page.

[2015-01-05 13:20] #52 closed

[2015-01-05 13:27] emperorcezar commented on #47
- [ ] Setup Meetup API secret
- [ ] Make sure models can handle RSVPs without django users (this might already be the case because of anonymous RSVPs
- [ ] Setup something in the data model to store where the RSVP came from. Used to keep track of changes to RSVP. This might be just colliding on name.
- [ ] Figure out what to do with duplicates (Someone RSVPing in both places)
- [ ] Code up the pie

[2015-01-07 04:38] emperorcezar opened #81 "Upgrade the Django Version"

[2015-01-07 04:39] emperorcezar opened #82 "Update the URLs/forms/etc to use more restful urls"
For example, the meetings rsvp url POSTs the meeting id along in the form, put it in the url.

[2015-01-23 16:28] brianray opened #83 "Allow additional filters on Twitter feeds"
Add a table in the Django Admin for adding users to include tweets.

Periodically, I or someone else will find those tweeting about ChiPy and include them in the feed.

[2015-02-01 06:15] emperorcezar commented on #47
Just added support to the site. It's still pretty manual right now. Edit the meeting in the admin and add the meetup id of the meetup event. Then from the meetings list there is a button you can click to sync the RSVPs. They only go one way, from meetup into the site.

![screenshot 2015-02-01 00 14 29](https://cloud.githubusercontent.com/assets/68407/5991255/51fdbcbc-a9a7-11e4-840a-09b9d9018b54.pn

[2015-02-08 18:13] tathagata opened #85 "Page about ChiPy's Professional Placements and Recruiting"
We should have a page detailing how ChiPy is working with Python developers find a job and recruiters/companies who are looking for fill Python positions. @jerry-dumblauskas has the data and specific details of the process.

It would should be enough to have a contact email address where candidates can mail resumes or recruiters reach out to @jerry-dumblauskas.

[2015-02-10 04:51] emperorcezar commented on #47
@brianray I added the meetup id for the upcoming meeting. The sync button will pull RSVPs from meetup into our list.

[2015-02-10 05:25] brianray commented on #47
Cant wait to check it out

On Monday, February 9, 2015, emperorcezar <notifications@github.com> wrote:

--
Brian Ray
@brianray
(773) 669-7717

[2015-02-10 18:39] phouse512 commented on #63
is there any more detail on this? I wouldn't mind building this out! Are votes for topics already have a place somewhere in the datastore? Or would we be creating that as well?

[2015-02-11 16:50] brianray opened #86 "Meetup.com sync missing records"
I just sync'd Feb Meetup and got only 12 additional RSVPs.  The Meetup.com site says 45

[2015-02-11 22:40] emperorcezar commented on #86
Strange. I'll look into it.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Wed, Feb 11, 2015 at 10:50 AM, Brian Ray <notifications@github.com>
wrote:

[2015-02-12 00:34] emperorcezar commented on #86
All fixed.

[2015-02-12 00:34] #86 closed

[2015-02-23 22:53] emperorcezar commented on #63
Would be awesome if you worked on this!

On Tue, Feb 10, 2015, 12:39 PM Philip House <notifications@github.com>
wrote:

[2015-02-25 21:29] brianray opened #88 "captcha broken on contact form"
![ss](https://cloud.githubusercontent.com/assets/676284/6380921/62b12e1e-bd0b-11e4-9568-7197345b7547.jpg)

[2015-02-25 21:31] brianray commented on #88
Also, is there a way to add "chicago-organizers@python.org" <chicago-organizers@python.org> to the list of ppl who get these?

[2015-02-26 03:23] emperorcezar commented on #88
@JoeJasinski you upgraded the captcha library, could you take a look at this?

[2015-02-26 03:33] JoeJasinski commented on #88
@emperorcezar, @brianray  Glad to have help,

Was the recaptcha site key and secret key set as environment variables?

    export NORECAPTCHA_SITE_KEY=your_recaptcha_public_key
    export NORECAPTCHA_SECRET_KEY=your_recaptcha_private_key

Due to the Recaptcha 2.0 api upgrade, I'm not sure if the old recaptcha keys will work and they might need to be regenerated.  This can be done in the google das

[2015-02-26 03:38] emperorcezar commented on #88
All fixed.

[2015-02-26 03:39] JoeJasinski commented on #88
Great!

[2015-02-26 18:01] brianray commented on #88
Thank you guys. But I just tested. I do see the captcha; however, an email is never submitted.

[2015-02-26 18:03] brianray commented on #88
Ah, got the email now. I will open a new ticket for adding  "chicago-organizers@python.org"

[2015-02-26 18:03] #88 closed

[2015-02-26 18:05] brianray opened #89 "add "chicago-organizers@python.org" to contact form and confirmation"
Please add the email to the TO.

Also I don't see a confirmation that the contract form worked.

REF http://www.chipy.org/contact/

[2015-03-08 02:10] tathagata commented on #89
From the README, it looks like this is an environment variable which needs to be reset on the server.
`export ENVELOPE_EMAIL_RECIPIENTS=admin@example.com`

[2015-03-09 15:49] CarlFK opened #90 "allow presenters to edit their email and released data"
http://www.chipy.org/profiles/edit/

phone too I guess, but I'm not sure what the point of it is.

class Presentor(CommonModel):
email = models.EmailField(max_length=MAX_LENGTH, blank=True, null=True)
phone = models.CharField(max_length=MAX_LENGTH, blank=True, null=True)
release = models.BooleanField(default=False)

[2015-03-29 13:49] jcalahor opened #91 "show youtube/vimeo videos on website"
topic section allows to enter video details from third party websites, however they are not showed when the topic is displayed. There needs to be possible to watch videos diectly in chipy.org website

[2015-04-18 18:29] treyhunner opened #92 "Add contact information to Code of Conduct"
http://www.chipy.org/pages/conduct/

You might also consider linking to your Code of Conduct more prominently.  It's not on the homepage and it took me quite a bit of clicking to finally discover it.

[2015-04-20 15:42] jramnani opened #93 "Google OpenID 2.0 Auth is being deprecated"
Hello,

I tried to log into the Chipy web site today using Google as my OpenID provider, and was greeted by a message saying that web sites using Google as an OpenID 2.0 provider should switch to Google's OpenID Connect.

https://support.google.com/accounts/answer/6135882

[2015-04-20 15:54] emperorcezar commented on #93
Thanks. We need to upgrade, I might have some time today, not sure though. Could be a bit till I get to it.

[2015-04-21 19:58] emperorcezar commented on #93
All fixed now.

[2015-04-21 20:13] brianray commented on #93
will you want to close this ticket then?

[2015-04-21 20:18] #93 closed

[2015-04-27 11:12] brianray commented on #85
something beyond this http://www.chipy.org/pages/referrals/ ?

[2015-04-27 11:14] brianray opened #94 "Topic Presenter's Name is blank"
For example http://www.chipy.org/admin/meetings/topic/120/ is blank.

[2015-04-27 12:03] tathagata commented on #85
Other than the fact that it's not findable from our the landing page, that page is great for recruiting companies. However, for a developer looking for her/his next gig, how does she/he discover that ChiPy helps find Python jobs and what is the next step for getting that help?

How about adding two sections to the page

## Looking for an exciting Python position? ChiPy can help
- Send your resume

[2015-04-27 12:07] brianray commented on #85
go for it, you have the power!! http://www.chipy.org/admin/flatpages/flatpage/5/

[2015-04-27 23:10] tathagata commented on #85
Apparently I don't :( ...

On Mon, Apr 27, 2015 at 7:07 AM Brian Ray <notifications@github.com> wrote:

[2015-04-28 15:20] codersquid commented on #91
Hi, @pyvideo maintainer here. This issue title is a misnomer. We don't host videos, we index them and embed them on our site. If you want to embed videos on your site, use the embed mechanism from wherever they are hosted. e.g. for youtube, take a look at their docs to learn how to embed youtube videos [by hand](https://support.google.com/youtube/answer/171780?hl=en) or by [api](https://developers

[2015-05-02 19:20] emperorcezar commented on #91
I don't see a reason we couldn't link to the videos from the site. Is that
what you're talking about?

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Tue, Apr 28, 2015 at 10:20 AM, Sheila Miguez <notifications@github.com>
wrote:

[2015-05-02 21:31] jcalahor commented on #91
title has been updated, what Brian wants is the ability to either go from the chipy website to the video where is hosted youtube (or whatever is hosted) or to embed the video and show on a the chipy website

[2015-05-05 18:37] brianray commented on #91
Yes, just want to enable a way to associate an external video with a meeting so users can view on the chipy.org site. Don't need to host the actual video.

[2015-05-05 19:24] brianray commented on #94
Could this be an artifact of a blank name in the User table? http://www.chipy.org/admin/auth/user/?o=3.1

[2015-05-06 13:07] codersquid commented on #91
That's what I thought from reading the original title, whence posting a clarification about not being able to embed pyvideo.org things. I think it would be cool if the site links to the category for chipy, and if anyone has questions about the richard api, you could ask us #richard on freenode or talk/email/etc. chipy could even run their own instance if it is helpful.

[2015-05-10 04:22] tathagata commented on #85
Updated http://www.chipy.org/admin/flatpages/flatpage/5/

[2015-05-10 04:22] #85 closed

[2015-05-28 15:41] brianray opened #95 "Meetup.com sync sanity check reduced counts?"
I had 9 rsvps on Chipy.org
I checked meetup.com and it showed 39 before
i hit sync, and the rsvps count changed to 38 on chipy.org

Something must be wrong with the sync.

[2015-05-28 20:16] emperorcezar commented on #95
I'll take a look.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Thu, May 28, 2015 at 8:41 AM, Brian Ray <notifications@github.com> wrote:

[2015-06-14 16:13] brianray opened #96 "Update site to Python3"
We talked about this at ChiPy Organizer meeting

@JoeJasinski

[2015-06-14 16:19] brianray opened #97 "accuracy on RSVP"
We should be sure to honor +1 from meetup.com.

[2015-06-14 16:21] brianray opened #98 "Logos on Site"
@JoeJasinski  has more details and thoughts on this.

Things like:

* logo on website

@agfor to add missing ones and to give feedback on how/when/where to show.

[2015-06-14 16:22] brianray opened #99 "[Spike] Research navigation improvements"

[2015-06-14 23:49] emperorcezar commented on #97
You'll have to add more details than this.

[2015-06-20 15:28] brianray commented on #97
The problem is if we send our rsvp count to a venue, it does not account for +1's

[2015-06-21 03:52] emperorcezar commented on #97
Ah, the plus 1's I read this wrong. Thanks!

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Sat, Jun 20, 2015 at 10:28 AM, Brian Ray <notifications@github.com>
wrote:

[2015-08-11 20:27] agfor commented on #98
We should figure out how to get these on the home page this month:

![telnyx logo](https://cloud.githubusercontent.com/assets/963973/9209683/7575f6fa-403d-11e5-9abc-b71b3fc9445f.png)
![braintree](https://cloud.githubusercontent.com/assets/963973/9209689/7bcaee98-403d-11e5-8d70-bb2c59247085.png)

[2015-08-11 20:31] emperorcezar commented on #98
Update the template with where you'd like them to be and pull request. :) I
"might" be able to do it tonight, we'll see. Pretty busy day.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Tue, Aug 11, 2015 at 3:28 PM, Adam Forsyth <notifications@github.com>
wrote:

[2015-08-11 20:40] agfor commented on #98
Yeah I was figuring @JoeJasinski or I would PR it for you. Earliest I could take a look is next week.

[2015-08-12 16:46] JoeJasinski commented on #98
My thoughts on this were just to make an admin interface for uploading logos and associating with a meeting so the current meetings and meeting history could list our sponsor links and logos.

This will also require some planning is it requires that we be able to upload media to s3 or whatnot, which could incur additional changes to the Heroku account.  I'm glad to assist with this, but figure we

[2015-08-12 17:31] agfor commented on #98
@JoeJasinski these aren't logos for a specific meeting; they're the Platinum Sponsors.

[2015-09-19 04:30] JoeJasinski commented on #98
I'm have some code in my local branch that does the following:
  - adds a sponsor model and allows us to relate sponsors to a Meeting
       - I'm still integrating it into some of the templates
  - uses Amazon S3 to host media files (sponsor images)
       - We of course will need s3 credentials
       - A new environment variable called USE_S3 is available to toggle between locally hosted media

[2015-09-19 04:39] emperorcezar commented on #98
@JoeJasinski I think since you have collaborator access on heroku you can just use the toolbelt to get a dump of the db. https://devcenter.heroku.com/articles/heroku-postgres-import-export Let me know if you don't have access and I'll make sure you get it.

In regards to the less, I was just compiling it locally and committing it.

[2015-09-19 04:45] JoeJasinski commented on #98
Thanks @emperorcezar,

I'm not sure if I have access; I have access to the chipy-voter app, but not sure about chipy.org.  (I don't see it in my dashboard, but I perhaps I have to visit a different location?)

[2015-09-19 04:59] JoeJasinski commented on #98
At this point, I already have code in place for sponsor models.  I'll extend it to add the ability to post sponsors to the front page as well as to individual meetings.

[2015-09-19 05:08] emperorcezar commented on #98
I added you.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Fri, Sep 18, 2015 at 11:59 PM, Joe Jasinski <notifications@github.com>
wrote:

[2015-09-19 05:15] JoeJasinski commented on #98
Awesome - thank you!

[2015-09-19 08:09] JoeJasinski commented on #98
@emperorcezar

I think I have the basic functionality working for both meeting sponsors and general sponsors.  I tried to use as much of the bootstrap css tags for styling, but could use some UI tweaks (any advice here is appreciated).

Current work is located here:
https://github.com/JoeJasinski/chipy.org/tree/feature/sponsor

Features:
  - Three new models added for MeetingSponsors and GeneralSp

[2015-09-21 01:21] emperorcezar commented on #98
@JoeJasinski Awesome! Sorry I've been camping this weekend and just catching up now. Let me know if you need anything else from me. I'm working on a laptop for a new employee and onboarding, so I can probably help later in the week.

[2015-09-21 01:30] JoeJasinski commented on #98
Thank you for your help @emperorcezar.  Maybe when it's ready to merge, you could have a look at the changes to see if you have any questions?  I made a few changes to the media and static file settings (that should help hosting locally and on s3) that I want to make sure look good to you.  And we'll of course coordinate during deployment too.

[2015-09-21 01:45] brianray commented on #98
So happy to see this moving forward. The sponsors will be happy too!

[2015-09-21 02:06] emperorcezar commented on #98
@JoeJasinski Sounds Good. Let me know when and I'll jump on it. Deployment should be pretty smooth.

[2015-09-25 01:25] JoeJasinski commented on #98
I've added a pull request here.

https://github.com/chicagopython/chipy.org/pull/101

[2015-09-25 01:28] JoeJasinski commented on #96
I did a preliminary research on this a month ago or so.  These are the blockers:

 - django-forms-bootstrap
 - django-ical
 - django-pgsql-interval-field
 - django-storages
 - python-openid

https://caniusepython3.com/check/553d2420-f258-4a84-b5cc-99b576cf25d5

[2015-09-25 03:35] JoeJasinski opened #102 "Django 1.8 LTS Upgrade"
I have some work in process for upgrading the site to Django 1.8.  Still needs a bunch of work.

https://github.com/JoeJasinski/chipy.org/tree/feature/django18

[2015-10-02 14:02] brianray commented on #98
hi. bump

[2015-10-02 16:07] JoeJasinski commented on #98
This was merged into master. Cezar is looking for a good time to deploy.

[2015-10-02 16:48] JoeJasinski commented on #98
Ah, cool.  Looks like it was deployed. Thanks @emperorcezar !

[2015-10-03 20:19] emperorcezar commented on #98
Sorry. I announced deployment in the IRC channel. A work habit.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Fri, Oct 2, 2015 at 11:48 AM, Joe Jasinski <notifications@github.com>
wrote:

[2015-10-08 00:20] JoeJasinski commented on #98
I've added some UI updates based on some feedback.

[2015-10-11 16:33] brianray opened #106 "add sponsor meeting link / form"
under "sponsor for meeting" add to sponsor page to add contact.

[2015-10-11 16:34] brianray opened #107 "heroku add"
Can we add @JoeJasinski to push updates, @emperorcezar ?

[2015-10-11 16:35] emperorcezar commented on #107
@brianray He should already have the permissions to do so.

[2015-10-28 04:06] JoeJasinski commented on #102
I believe that I am close to having a django 1.8 update ready.  The last steps are just testing the different areas of the site (which I could use some help with).

Changes:
 - Feature: added a PastTopics view
 - Feature: added ability to embed google map for venue
 - changed url patters to remove the "patterns" function as defined by django 1.8
 - changed past meetings link to look like a link in

[2015-10-30 13:07] brianray commented on #98
looks done?

[2015-10-30 23:31] brianray commented on #96
that's a cool tool. little surprised about openid/python-openid but did see this https://github.com/openid/python-openid/pull/52

The other ones look like a piece a cake.

[2015-11-15 18:02] tathagata opened #111 "Add a checklist at the time of talk submission"
Having checklist/guideline shown at the time of talk submission (http://www.chipy.org/meetings/topics/propose) will help the speaker prepare a better talk:

What to *avoid*:
- Too much code with context
- If its a technical talk, no code

What to be mindful of:
-  Proprietary code with no relevant open source references

Please suggest What else should be included:
- Pycon advise (https://us.pycon

[2015-11-15 18:27] JoeJasinski commented on #111
Good idea.  I think it would be help to have a description on that apge.

[2015-11-16 00:05] agfor opened #112 ""Platinum Sponsor" section doesn't show up on http://www.chipy.org/ when no meeting is set"
I noticed it this morning before next month's meeting was added.

[2015-12-07 06:12] brianray opened #113 "Sync failed with meetup.com"
<img width="1007" alt="screen shot 2015-12-07 at 1 11 00 am" src="https://cloud.githubusercontent.com/assets/676284/11620310/7ef7e172-9c7f-11e5-86c5-c4421e17ce0d.png">

[2015-12-07 16:26] emperorcezar commented on #113
Pushed a fix. Try again.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Mon, Dec 7, 2015 at 12:12 AM, Brian Ray <notifications@github.com> wrote:

[2015-12-07 20:39] brianray commented on #113
:+1:

[2015-12-07 20:39] #113 closed

[2015-12-09 07:42] JoeJasinski commented on #102
Let me know if there's any way I can help make testing this easier.  I've merged in the latest changes that @emperorcezar made last week.

[2015-12-09 08:21] JoeJasinski commented on #111
@tathagata and @brianray.  I've added a flatblock speaker_text and sponsor_info_text on the submit a talk and sponsor list page respectively.  This allows a user to customize the text via the Flatblocks editor in the Django admin.

However, I made this change to the feature/django18 branch so deploying this will depend on the pull request https://github.com/chicagopython/chipy.org/pull/108 (which

[2015-12-09 08:24] JoeJasinski commented on #106
@brianray, I've added a flatblock to the top of the sponsor list page.  This should allow adding some information about sponsoring events (or you can add a link to a flatpage with more info.. whatever works).  This change depends on pull request https://github.com/chicagopython/chipy.org/pull/108

[2015-12-09 08:26] JoeJasinski commented on #98
I think we can close this issue.

[2015-12-09 08:28] JoeJasinski commented on #96
Perhaps this can replace django-storages for python 3 support:

https://pypi.python.org/pypi/django-storages-redux

[2015-12-09 08:35] JoeJasinski commented on #96
Python-openid has some activity in that issue, but there hasn't been a commit since 2014.  We might be able to use this in place of python-openid:

https://github.com/necaris/python3-openid

[2015-12-14 18:12] agfor commented on #112
@JoeJasinski ping. This is currently a problem as I can't show potential sponsors what the logos on the site look like.

[2015-12-14 18:18] JoeJasinski commented on #112
@agfor  For the time being, creating a new meeting solves the issue.  I've done that on the site for January.

Note: I've been avoiding doing too much more work on the site until the Django 1.8 changes are deployed to avoid having to support two different development environments.  I can roll in this change with the Django 1.8 pull request.

[2015-12-14 18:19] agfor commented on #112
Thanks, that solves the problem for now!

On Mon, Dec 14, 2015 at 12:18 PM, Joe Jasinski <notifications@github.com>
wrote:

[2015-12-15 19:53] brianray opened #114 "Captcha Error on change RSVP"
Reported from chipy web form: "I tried to change my RSVP (to No), but the page gave an error about Captcha which didnt even show. Hope this helps keep tabs for your meetings."

[2015-12-16 12:50] tathagata opened #115 "Python shops of Chicago"
Lets build a database of how Python is used in the city so that developers (and job seekers) from both inside and outside the city can easily see what Chicago has to offer.

@tanyaschlusser currently has the following fields on her google docs table:

- Company
- Contact
- Product
- Backend
- Frontend
- Devops
- Analytics
- Cloud
- Year Founded
- Size
- Valuation
- Note

Which looks like a great s

[2015-12-16 18:48] brianray commented on #115
:+1:

[2015-12-16 19:36] agfor commented on #115
I don't think many companies have an accurate, public, realistic valuation,
so I'd suggest leaving that out. Maybe some kind of 'Funding Status'?
"Bootstrapped / Seed / Funded / Acquired / Internal Startup / Enterprise" ?

Examples:
Zoro -> Internal Startup,
Braintree -> Acquired,
BofA -> Enterprise,
Braintree 2010 -> Bootstrapped,
Braintree 2012 -> Funded

On Wed, Dec 16, 2015 at 12:53 PM, Brian

[2015-12-16 21:24] tanyaschlusser commented on #115
That's nice. It captures the intent of what I wanted, which was to figure
out who was new / up-and-coming and who was established. And the
information is more static.

On Wed, Dec 16, 2015 at 1:45 PM, Adam Forsyth <notifications@github.com>
wrote:

[2015-12-19 22:27] tanyaschlusser commented on #71
What about a PayPal donate button instead?
https://www.paypal.com/webapps/mpp/get-started/donate-button

[2015-12-20 00:32] tanyaschlusser opened #116 "Add a Jekyll blog"
Add a place to blog that's simple and static. The goal is to have pages featuring
- The mentor/mentee pairs in each future cohort
- 'Python Shop of the Month' or maybe 'Hosts' blog posts where we highlight our hosts
- 'Pythonista of the Month' posts to encourage people to meet each other
- Summary stats from prior ChiPy member surveys
- Maybe one other thing, like featuring one of our SIGs or some

[2015-12-21 15:39] brianray commented on #114
@emperorcezar I think you said this is fixed?

[2015-12-23 05:37] emperorcezar commented on #114
It was being flaky, but seems to be not working again. I'll look into it soon.

[2016-01-04 03:34] tanyaschlusser commented on #116
The blog should be in a separate repo, not this one, called **chicagopython.github.io** -- [here is a draft][draft-blog]. The [repo is here, temporarily][draft-blog-repo]. I'll email the group about it too.

[draft-blog]: http://tanyaschlusser.github.io/tmp
[draft-blog-repo]: https://github.com/tanyaschlusser/tmp

[2016-01-23 19:00] emperorcezar commented on #116
Created the blog repo and added you as a collaborator. Go for it.

[2016-01-23 19:07] tanyaschlusser commented on #116
Yay! Thank you Cezar!
Would it be possible to rename it to **chicagopython.github.io**?  (It [has to have that name in order to work][gh-pages].)

[gh-pages]: https://pages.github.com/

[2016-01-23 21:56] emperorcezar commented on #96
I'm wondering if it would be worth us starting an initiative to port these requirements to Python 3?

[2016-01-25 15:36] emperorcezar commented on #116
Done.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Sat, Jan 23, 2016 at 1:07 PM, Tanya Schlusser <notifications@github.com>
wrote:

[2016-01-25 16:30] tanyaschlusser commented on #116
Thank you!

On Mon, Jan 25, 2016 at 9:36 AM, emperorcezar <notifications@github.com>
wrote:

[2016-02-07 16:26] JoeJasinski commented on #96
Looks like there is some exiting work towards getting python-ical working

https://bitbucket.org/IanLewis/django-ical/pull-requests/6/updated-code-and-tests-to-support-python-3/diff

[2016-02-14 17:42] brianray opened #118 "Add talk level to propose"
Add level to Propose Talk:
- [ ] novice
- [ ] intermediate
- [ ] advanced

[2016-02-23 03:47] #102 closed

[2016-02-23 04:17] JoeJasinski commented on #118
Hey all, I've added this functionality.  I've made this a required field on the talk submission page. I'll submit a pull request shortly.

[2016-02-23 04:23] JoeJasinski commented on #118
I've created a pull request for this:

https://github.com/chicagopython/chipy.org/pull/119

[2016-02-23 04:33] JoeJasinski commented on #111
@tathagata and @brianray: With the recent deployment of the 1.8 changes, these text fields are now available to add text to the Sponsor and Meeting Proposal pages pages.

Sponsors front end
http://www.chipy.org/sponsors/list/
Sponsors backe end
http://www.chipy.org/admin/flatblocks/flatblock/2/

Propose topic front end
http://www.chipy.org/meetings/topics/propose/
Propose topic back end.
http://ww

[2016-02-23 05:22] JoeJasinski commented on #112
Pull request to fix this:

https://github.com/chicagopython/chipy.org/pull/120

[2016-02-23 05:52] tathagata commented on #111
Awesome! I made the change so that the following text appears before the talk proposal form

![image](https://cloud.githubusercontent.com/assets/68151/13242891/24b89eb8-d9bf-11e5-93ab-83a61fc01b8f.png)

Thanks @JoeJasinski!

[2016-02-23 05:54] #111 closed

[2016-02-23 06:43] agfor opened #121 "Make Platinum Sponsor logos on homepage larger"
The logos are pretty small, I think we should let them take up the whole column width.

Currently, we're [displaying thumbnails](https://github.com/chicagopython/chipy.org/blob/master/chipy_org/templates/homepage.html#L133):

    {% thumbnail general_sponsor.sponsor.logo "150" crop="center" as im %}

I think displaying the original logos should work without any other changes to the template. I hav

[2016-02-23 06:53] agfor opened #122 "Add contributors"
@emperorcezar Please add the other ChiPy organizers as contributors.

Most importantly @JoeJasinski, but @tathagata, @tanyaschlusser (if she's still interested), @jerry-dumblauskas, and me -- those are the users who's names are auto-completing who are also organizers, I don't know if the others are interested.

At the very least, I could close some of the old issues that have been resolved.

[2016-02-23 06:59] JoeJasinski commented on #121
@agfor can you tell me the DOM manipulations you are making so I can try to reproduce?  I think we'll still want to generate thumbnails - even if we make them large enough to fit the the entire column - to avoid large downloads.

[2016-02-23 07:01] JoeJasinski commented on #121
Actually, setting the image width %100 might work...

[2016-02-23 07:05] agfor commented on #121
I replaced the `src` attribute of each image with the original URL of the images from the individual sponsor pages. The images filled the column and no other page layout appeared to change.

It looks like those are [actually thumbnails as well, just larger ones](https://github.com/chicagopython/chipy.org/blob/master/chipy_org/apps/sponsors/templates/sponsors/sponsor_detail.html#L15) -- so it might

[2016-02-23 07:11] JoeJasinski commented on #121
Setting the site to 400 looks to work.  I've added it to the pull request for https://github.com/chicagopython/chipy.org/pull/120

[2016-02-23 07:17] JoeJasinski commented on #81
I think we can close this for the moment, unless we'd like to go to Django 1.9

[2016-02-23 07:31] JoeJasinski commented on #111
Nice

[2016-02-23 14:21] emperorcezar commented on #81
Let's stay on 1.8 as its an lts
On Feb 23, 2016 1:17 AM, "Joe Jasinski" <notifications@github.com> wrote:

[2016-02-23 14:53] emperorcezar commented on #122
Have a new team and all have access. You should find your invites.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Tue, Feb 23, 2016 at 12:53 AM, Adam Forsyth <notifications@github.com>
wrote:

[2016-02-24 03:57] jerry-dumblauskas commented on #122
yhx

[2016-02-24 03:58] #122 closed

[2016-02-24 04:18] JoeJasinski commented on #92
I think this issue can be resolved.  The code of conduct is now linked at the footer of the site.

[2016-02-24 04:18] #92 closed

[2016-02-28 01:23] JoeJasinski commented on #121
This has been deployed.

[2016-03-04 02:48] JoeJasinski commented on #112
This should be fixed.  I'm going to close this for now, unless anyone sees a reason to keep it open.

[2016-03-04 02:48] #112 closed

[2016-03-04 02:48] JoeJasinski commented on #121
I'm going to close this unless anyone objects.

[2016-03-04 02:48] #121 closed

[2016-03-04 02:51] #98 closed

[2016-03-04 02:57] agfor commented on #112
Thanks @JoeJasinski!

[2016-03-08 21:14] brianray opened #124 "RSVP live link stops working"
"http://www.chipy.org/meetings/rsvp/list/--the hash from the admin--/"

Produces:

[code]

[2016-03-08 23:17] emperorcezar commented on #124
Nm about the email. I got to it. Fixed.

[2016-03-08 23:17] #124 closed

[2016-03-09 22:57] hectron opened #125 "Unable to change RSVP to no."
When a user was trying to change an RSVP to no, the website threw an error. It can be seen in the screenshot.

Submitted through e-mail.

![unnamed](https://cloud.githubusercontent.com/assets/1649281/13653533/e0f18d74-e617-11e5-9297-af4c9fb058fc.png)

[2016-03-10 03:49] JoeJasinski commented on #125
I tried to reproduce and was successfully able to submit a "no" rsvp. @emperorcezar did you happen to get any error emails recently?

[2016-03-10 05:14] emperorcezar commented on #125
All fixed now.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Wed, Mar 9, 2016 at 9:49 PM, Joe Jasinski <notifications@github.com>
wrote:

[2016-03-10 18:18] JoeJasinski opened #126 "captcha not showing on rsvp form when logging in anonymously"
Hey all,

Someone just reported that the captcha was not displaying on the Anonymous RSVP form, which is preventing the form submission.  The captcha does appear to be working on the contact form.

I was able to replicate by opening a new private browser tab and submitting an rsvp anonymously.  The result is a missing captcha form validation error.

[2016-03-10 18:57] emperorcezar commented on #126
Pushing fix now

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Thu, Mar 10, 2016 at 12:18 PM, Joe Jasinski <notifications@github.com>
wrote:

[2016-03-17 13:14] #125 closed

[2016-04-07 17:28] codersquid opened #127 "show meetup group on the site somewhere"
I pointed someone to the site to give them a link to the group, mailing list, and meetup page. Is the meetup page linked anywhere? It could be helpful to add it.

[2016-04-07 21:20] brianray commented on #127
That's a good point. It should be here: http://www.chipy.org/pages/SIGs/ at least.

[2016-04-10 17:11] agfor opened #128 "Email organizers when a topic is proposed"
When a new topic object (http://www.chipy.org/admin/meetings/topic/) is created using the "Give a talk" form (http://www.chipy.org/meetings/topics/propose/) the details should be emailed to chicago-organizers@python.org

[2016-04-10 19:28] brianray opened #129 ""Sync" returns an error"
Sync a meeting from the meeting list; you hitting the button in the admin returns error, The meeting does have an ID filled out already

[2016-04-13 18:27] emperorcezar commented on #129
Fixed

[2016-04-13 18:27] #129 closed

[2016-04-13 18:31] brianray commented on #129
@jerry-dumblauskas 👍

[2016-04-17 22:05] JoeJasinski commented on #128
I've got this working locally, but would still like to do more testing...

https://github.com/JoeJasinski/chipy.org/tree/feature/email_topic_submit

[2016-04-17 23:26] JoeJasinski commented on #128
Added a new pull request to address this:

https://github.com/chicagopython/chipy.org/pull/130

[2016-04-22 03:44] JoeJasinski commented on #128
This has been deployed.

[2016-04-22 03:44] #128 closed

[2016-04-22 03:45] #107 closed

[2016-04-22 03:46] agfor commented on #128
Great! Thanks for taking care of this.

On Thu, Apr 21, 2016 at 11:44 PM, Joe Jasinski <notifications@github.com>
wrote:

[2016-05-06 02:26] JoeJasinski opened #131 "Chipy.org LICENSE file references wrong project"
Though we were using Pinax for the first iteration of this site, I don't think any bit of it is used here.

[code]

[2016-05-06 02:26] JoeJasinski commented on #131
https://github.com/chicagopython/chipy.org/blob/master/LICENSE#L1

[2016-05-06 02:48] emperorcezar commented on #131
Don't know if there is any of that code left. You'll notice the second part of the license is for the chipy site and refers to it as such.

[2016-05-08 16:15] brianray opened #132 "Export and Scrub Chipy.org data"
Please export and scrub (remove and PII) the chipy.org postgres data in some way useful to a Jupyter notebook.

Send  a download link (like dropbox) to "chicago-organizers@python.org" chicago-organizers@python.org

[2016-05-08 16:36] brianray opened #133 "integrate meetup.com widget into chipy.org"
something like this:

http://www.meetup.com/meetup_api/foundry/

Can we see in staging before it goes live?

[2016-07-10 16:47] tathagata opened #134 "Purchase ChiPy T-shirt from chipy.org"
Place an order with the desired size and number of T-shirts.

[2016-07-10 16:48] brianray opened #135 "topic email missing"
When new topic is proposed sometime missing presenter.

Also "Presentors" should be "Presenters"

[2016-07-10 16:51] agfor commented on #134
I'm glad to do the Braintree integration, but might be a good idea to wait
for nonprofit status to do this, otherwise will basically have to re-apply
once it goes through.

On Sun, Jul 10, 2016 at 11:47 AM, Tathagata <notifications@github.com>
wrote:

[2016-07-11 03:43] JoeJasinski opened #136 "ChiPy Homepage Refresh"
I'd like to propose refreshing the design of the homepage to modernize it a bit.
- make it more mobile friendly by making it responsive
- creating a modern long-scrolling sectional page layout
  - could add parallax for some pizazz :-)
- Integrate sections for:
  - upcoming meeting schedule (should also accommodate SIG announcements)
    - easy to see calendar of upcoming events
    - somehow inte

[2016-07-12 12:45] brianray commented on #136
I see you put some good thought into this. It would be nice to hear what others thing.

[2016-07-13 12:31] jerry-dumblauskas commented on #136
looks great.  Can we add an easily discoverable button for the referral
program as well?

On Tue, Jul 12, 2016 at 7:46 AM, Brian Ray <notifications@github.com> wrote:

[2016-07-13 22:06] emperorcezar commented on #136
I like the mockup a lot. With a little logic to hide some areas when empty
it will be really great. Is someone good at the the html/css wrangling? I
can do it, but I'd be slower than some others.

-------------------------------------------------------------------------------------------------------------
Father, Pythonista, Cyclist, Brewer. Dabbling in Clojure and Functional
Languages

On Sun, Ju

[2016-07-13 23:20] JoeJasinski opened #137 "Presenter Email is not a required field on Talk Submission form"
I've been getting talk submissions with no way to contact the presenter.

[2016-07-14 00:13] JoeJasinski commented on #136
@jerry-dumblauskas I like the referral button idea.

@emperorcezar I'm in the same boat regarding html/css, but I don't mind poking around with it.

[2016-07-14 05:55] erinjasinski opened #138 "Mailing list"
Hi,

I noticed that when I visit this page to reset my mailing list password ("Password Reminder"), the auto-generated email emails the actual password.  I thought that this was a no-no. I know that this is maintained by python.org, but is there a setting in the ChiPy mailing list to enable hashed passwords only?

https://mail.python.org/mailman/options/chicago

[2016-07-14 16:36] emperorcezar commented on #138
It is not uncommon to email a auto-generated reset password with the
understanding that you'll be changing it as soon as you can. Typically
these days a link is sent with a token, but for all intents and purposes,
that token is a password for the purpose of resetting.

When you say hashed, I think you may mistake that the password is sent in
the email to it being hashed in the db. The password is

[2016-07-14 16:36] #138 closed

[2016-07-14 16:42] agfor commented on #138
@emperorcezar I think Mailman actually stores passwords in plaintext / reversibly encrypted -- as it has a feature where it can send you your password periodically as a reminder.

[2016-07-14 19:04] brianray commented on #136
It would probably help to get a UI/UX person involved. Please note our
original design was done at Imaginary Landscape

On Wednesday, July 13, 2016, Joe Jasinski <notifications@github.com> wrote:

[2016-07-14 21:56] emperorcezar commented on #138
@agfor that is unfortunate.

[2016-07-14 23:48] erinjasinski commented on #138
@agfor  Ah...it is unfortunate.   Thanks for the info!

[2016-07-19 01:53] emperorcezar commented on #132
I think this might have already been done?

[2016-07-19 01:53] #126 closed

[2016-07-19 01:55] emperorcezar commented on #116
@tanyaschlusser Is there anything else you need for this?

[2016-07-19 01:55] #114 closed

[2016-07-19 01:56] #106 closed

[2016-07-19 01:57] emperorcezar commented on #99
Is there more details on this?

[2016-07-19 01:58] #97 closed

[2016-07-19 01:59] #95 closed

[2016-07-19 02:01] emperorcezar commented on #94
That is very likely the cause.

[2016-07-19 02:03] emperorcezar commented on #71
This seems to have stalled. Gonna wonfix this for now.

[2016-07-19 02:03] #71 closed

[2016-07-19 02:40] JoeJasinski opened #139 "Tests failing due to django-social-auth"
Hey all,

This weekend, I was doing some standard Python updates and maint in a local branch hoping to bring us closer to a python3.x transition.

https://github.com/JoeJasinski/chipy.org/tree/feature/cleanup-and-updates-2

In this branch, I've made the following changes:
- updates to a bunch of the python requirements
- changes to the auth.User import and relationships involving auth.User to supp

[2016-07-19 02:48] emperorcezar commented on #139
Can you elaborate on the db changes needed? When I moved to PSA in other projects I didn't have many issues. Is it possible that the DSA version is too old and that will need to be upgraded first?

[2016-07-19 22:15] imagescape commented on #139
The DSA version is actually the most recent released version 0.7.28.  The models in DSA actually point to PSA.

Our models (in the DDL below), do not match the initial migration for python-social-auth.

https://github.com/omab/python-social-auth/blob/master/social/apps/django_app/default/migrations/0001_initial.py#L30

There is a table called Code that doesn't exist in our database.  Maybe we just

[2016-07-20 13:31] JoeJasinski commented on #139
Update: meant to post as this user.

The DSA version is the most recent released version 0.7.28.  The models in DSA actually point to PSA.

Our models (in the DDL below), do not match the initial migration for python-social-auth.

https://github.com/omab/python-social-auth/blob/master/social/apps/django_app/default/migrations/0001_initial.py#L30

There is a table called Code that doesn't exist in

[2016-07-21 00:21] tanyaschlusser commented on #116
No -- although maybe I'll try Lektor (a new Python project) instead of Jekyll...
still intend to do this :-)  sorry for the delay.

[2016-07-21 01:41] emperorcezar commented on #139
I agree, from a scan or the two, looks like the only thing missing is the
social_auth_code table. We should be able to create that and just fake the
migration.

-------------------------------------------------------------------------------------------------------------
Father, Pythonista, Cyclist, Brewer. Dabbling in Clojure and Functional
Languages

On Wed, Jul 20, 2016 at 8:31 AM, Joe Jasinski

[2016-08-17 00:47] raymondberg opened #141 "Link to Mentorship Content"
Right now there is no obvious way to connect to the [Mentorship content](http://www.chipy.org/pages/sigs/mentorship/). It would be great to make that a prominent link as it is one of the easier ways to plug in and get more involved in the Python community.

[2016-08-17 03:05] #141 closed

[2016-08-17 17:23] brianray commented on #141
👍 http://www.chipy.org/pages/sigs/mentorship/

[2017-01-08 17:57] JoeJasinski commented on #136
Here is a proposal Rough Draft.  Message me if you want edit access.

https://docs.google.com/document/d/1u9O0sJEcOfuV8gdCtN7ROPtIbhtY_90fjNhlhlHcDtg/edit#heading=h.idcmi8g4cdbo

[2017-02-15 07:25] JoeJasinski commented on #136
I've started doing some prototyping on the backend (and some basic frontend work) need to support this.  Specifically, I've added models and sections on the homepage for non-main ChiPy meetings (eg SIG meetings).

Work in progress:
https://github.com/JoeJasinski/chipy.org/tree/feature/other-meetings

[2017-04-11 15:42] brianray opened #145 "link orphaned pages"
to do:

 - [x] find orphaned pages
 - [x] shared with the chipy organizers
 - [ ]  remove orphaned pages *marked for delete*
 - [ ]  link to home page, pages *approved*

[2017-04-12 01:00] JoeJasinski commented on #145
All,

I've identified the flatpages below and added notes regarding pages that I know about.  Note: in the new design proposal and updated nav, some of these pages are intended to be brought forward.

- /pages/about/	About Chipy:
  - linked to on main nav
- /pages/conduct/	ChiPy Code of Conduct:
  - linked to in footer
- /pages/organizers/	Current ChiPy Organizers:
  - linked to in footer
- /pages

[2017-04-12 05:19] brianray commented on #145
thanks @JoeJasinski Let me know if I can share this with the organizer's list or if you wan to?

[2017-04-18 00:42] brianray commented on #136
@adeolapure

[2017-04-18 02:47] raymondberg commented on #145
Mentorship stuff has been removed, except for main page which refers to new site.

[2017-04-18 02:48] raymondberg commented on #135
Is this fixed?

[2017-05-05 03:57] JoeJasinski commented on #136
@here

I've made progress on the ChiPy re-design. I haven't touched the re-skin bit, but I've added much of the functionality for SIG support. I'll make a list of in-depth changes in a future post, but for now, here's the dev site for viewing.

http://chipy-dev.herokuapp.com/

[2017-05-05 04:16] adeolapure commented on #136
@JoeJasinski Sweeet! I actually just added the ChiPy twitter feed to the homepage (pending pull request merge)

I designed it according to the current design. I do have thoughts on the new Participants section if you're open to them!

[2017-05-05 07:48] emperorcezar commented on #136
@JoeJasinski I'm liking it. What else is there to be done with it?

[2017-05-06 00:23] JoeJasinski commented on #136
@adeolapure I'm glad for any feedback on the participate section.

@emperorcezar I think it's wrapping up, though this is intended to be just a first pass.  The SIG detail pages are pretty sparse at the moment, but perhaps we can build those out as we find how how they might be sued.

[2017-05-10 23:43] tathagata opened #149 "Update Imaginary Landscape's logo"
![image](https://cloud.githubusercontent.com/assets/68151/25925806/9b66e0bc-35b0-11e7-9a14-60bb235a6aab.png)

[2017-07-18 00:01] JoeJasinski commented on #149
I did this on the main website. @brianray this should be done on the slides as well.

[2017-07-18 00:42] JoeJasinski commented on #136
Pull request:
https://github.com/chicagopython/chipy.org/pull/151

[2017-07-23 13:37] tathagata opened #152 "Short urls from chipy.org"
Chipy does a lot of things these days and we need an easy way to redirect people where they can find more information. Short urls make this very easy. Following are the ones that I have felt the need for - please add the ones that you can think of:

- python project nights
chipy.org/ppn -> https://github.com/chicagopython/CodingWorkshops

- code of conduct
chipy.org/coc -> http://www.chipy.org/pag

[2017-07-24 04:26] jasonwirth commented on #152
Short URLs are good for slides and presentation, but a better solution would be making the website more usable. Sorry to say it, but my brain is so worthless that I'm never going to remember a URL, no matter how short, other than chipy.org.

[2017-07-24 14:27] raymondberg commented on #152
I'm fine with this in slides as long as we never use these URLs for navigation.

[2017-07-25 03:56] adeolapure commented on #152
That all makes sense to me! and +1 x 2 re: Jason and Ray

On Mon, Jul 24, 2017 at 9:27 AM, Raymond Berg <notifications@github.com>
wrote:

[2017-07-30 14:18] emperorcezar commented on #152
@JoeJasinski does your PR help with this?

[2017-07-30 22:22] JoeJasinski commented on #152
The PR adds some general improvements to navigation and brings forward more links to the homepage.  Check out chipy-dev.herokuapp.com

[2017-07-30 22:25] JoeJasinski commented on #152
Let me know when that PR is ready for merging .  I have a Django 1.11 update built on top of that

[2017-08-03 04:28] JoeJasinski commented on #96
I actually think we are pretty close to Python 3 support.  I have a branch that's in progress related to this: https://github.com/JoeJasinski/chipy.org/tree/feature/django1.11

I built some (very very basic) unit tests to help ensure that the views involved in the site don't return 500 errors. All 16 pass before and after the update. All of the 3rd party modules have been update to versions that s

[2017-08-23 17:08] brianray commented on #94
bump

[2017-09-07 04:09] JoeJasinski commented on #137
This is fixed in this pull request, ready for review: https://github.com/chicagopython/chipy.org/pull/153

[2017-09-07 04:09] JoeJasinski commented on #137
@emperorcezar and @brianray ^

[2017-09-07 04:15] JoeJasinski commented on #94
This appears to be a duplicate of this issue https://github.com/chicagopython/chipy.org/issues/137, and PR https://github.com/chicagopython/chipy.org/pull/153 resolves this.

[2017-09-07 04:18] JoeJasinski commented on #118
This is done.  Closing

[2017-09-07 04:18] #118 closed

[2017-09-07 04:22] JoeJasinski commented on #1
Looks like this was merged, so unless there are any objections, I'm going to close this ticket.

[2017-09-07 04:22] #1 closed

[2017-09-07 04:24] JoeJasinski commented on #33
Looks like this is done, so I'll close unless someone has something else for here.

[2017-09-07 04:24] #33 closed

[2017-09-08 18:28] brianray opened #154 "Expire Announcements, add placeholder"
<img width="739" alt="screen shot 2017-09-08 at 2 26 38 pm" src="https://user-images.githubusercontent.com/676284/30225856-f810db92-94a1-11e7-8182-696bceee97a8.png">

It's not Sept 8th and the announcement from over a month ago is hagning there.

[2017-09-08 18:32] brianray opened #155 "host a meeting page empty"
Should this say something?

<img width="1440" alt="screen shot 2017-09-08 at 2 30 27 pm" src="https://user-images.githubusercontent.com/676284/30225998-75ff475a-94a2-11e7-88df-8f06390b776a.png">

[2017-09-08 22:43] JoeJasinski commented on #154
@brianray this is the "announcement", which lets us put general announcements on the front page.  Adding a new one should push this one off to the archive. Maybe we could add another feature to expire announcements from showing up on the main page.

I hope people use this feature; it was intended to make it easier to make one-off free-form announcements like the Pololyglot or ULS or similar.

[2017-09-09 02:23] JoeJasinski commented on #154
@brianray @emperorcezar

Pull request to add the end_date on announcement. Read for review.

https://github.com/chicagopython/chipy.org/pull/156

[2017-09-09 02:46] JoeJasinski commented on #155
Ya, both of these flatpages need some content.  Presumedly info on how a potential host can get involved.  The other link would be for how to donate to ChiPy.

http://www.chipy.org/admin/flatpages/flatpage/16/
http://www.chipy.org/admin/flatpages/flatpage/17/

[2017-09-15 01:21] JoeJasinski commented on #154
This is deployed btw

[2017-09-15 01:21] #154 closed

[2017-09-15 01:23] JoeJasinski opened #157 "Install SSL Cert"
Would be great to get an SSL cert setup for this.  We'll likely need to upgrade to Hobby plan to do this.

@brianray

[2017-10-26 13:46] brianray opened #158 "Something is wrong with the annoucment"
See Screen shot. It still says October and does not match the next meeting.

<img width="1058" alt="screen shot 2017-10-26 at 9 44 51 am" src="https://user-images.githubusercontent.com/676284/32056364-780f014c-ba32-11e7-9250-95fe137da25e.png">

[2017-11-14 02:22] JoeJasinski commented on #158
It just needed an end date added to the record in the Admin. I've added an end date to every announcement via the Django admin, except for one "default" message that will appear in the case that all other messages are expired.

[2017-11-14 02:23] JoeJasinski commented on #137
closed per https://github.com/chicagopython/chipy.org/pull/153

[2017-11-14 02:23] #137 closed

[2018-07-18 12:58] JamesJeffryes commented on #157
FWIW it looks like Cloudflare's free plan includes a shared SSL cert so a heroku upgrade may not be necessary. Here's a walkthough: https://medium.freecodecamp.org/free-https-c051ca570324

[2018-11-08 20:51] tathagata opened #162 "Add a way to close RSVPs on a meeting"
Without this feature there can be a case when people RSVP on the site after we have sent the list to the host.

[2018-11-14 06:40] JoeJasinski commented on #162
PR https://github.com/chicagopython/chipy.org/pull/163

[2018-12-21 17:44] alysivji commented on #162
Looks like this is complete. Can we close?

[2018-12-21 17:59] alysivji opened #165 "Remove Maybe option from RSVP selection"
As we will be using the website going forward, let's remove the ambiguity of Maybe from RSVP options.

I'm gonna take this one. Will be a good way to dig into the codebase.

[2018-12-22 00:15] alysivji commented on #165
@JoeJasinski is the best way to proceed to make a data migration to turn all Maybes into Nos (or Yes) and then remove the Maybe selection from the RSVP model?

That's the way I've written it up so far. If that's okay, I'll add some tests and make a PR.

Still can't get the website to load locally, but can see changes in the database as I expect. We can work on getting me set up with an environment

[2018-12-23 02:39] JoeJasinski commented on #165
Ping me.  I’d be glad to help out.  You might not need to migrate the data
if you leave the existing data intact but just restrict the form choice to
Y/N. Might be easier since no migration is needed and we can preserve
history. But the approach you outline should work.

I modified the Docker compose file to run everything in compose.  Let me
know what you see there in terms of running locally.

O

[2018-12-23 15:05] alysivji commented on #165
I am using the docker-compose setup, but it is not working. Both containers are running, when I go to localhost:8000 I get a `This site can't be reached` error.

Logs from DC:
[code]

I'm also having problems running migrations and tests (something about auth table not existing). Also tried it without a container, no luck.

I'll make a PR with what I got and we can work thru it together.

[2018-12-30 15:48] tathagata opened #167 "Meeting Description field needs to support rich text formatting"
As an event organizer, I want to include rich text in the meeting descriptions, so that I can include links and other formatting such that it makes reading easier.

Project Night is moving to chipy.org for RSVPs. We need to provide multiple instructions for our attendees - on what to bring, what to expect, agenda/timeline, FAQs. example:
https://www.meetup.com/_ChiPy_/events/gdqnkqyzcbwb/
The curr

[2018-12-30 15:52] tathagata opened #168 "Allow users to RSVP for multiple events"
With Project Night's RSVPs moving to chipy.org, allowing RSVPs for upcoming events need to be enabled. Looks like currently only the next event would available for RSVP, but RSVPs cannot be opened for upcoming events.

[2019-01-05 20:54] tathagata commented on #168
@JoeJasinski since you have most familiarity, and this is most likely a small change - could you please take a look if you have some bandwidth? It would be really helpful to get away from meetup.com for project night.

[2019-01-06 02:53] JoeJasinski commented on #168
Makes sense.  I can put something together for it.

On Sat, Jan 5, 2019 at 2:54 PM Tathagata <notifications@github.com> wrote:

--
Joe J. Jasinski
www.joejasinski.com

[2019-02-17 20:54] JoeJasinski commented on #168
This PR addresses:

https://github.com/chicagopython/chipy.org/pull/169

[2019-02-17 20:56] JoeJasinski commented on #155
@patrickboland4 since you've pulled in some recent hosts, is there anything that might be useful to add to this page?

[2019-02-17 20:56] #162 closed

[2019-02-17 20:57] JoeJasinski commented on #157
Closing this issue since we added SSL a few months back.

[2019-02-17 20:57] #157 closed

[2019-02-17 20:59] JoeJasinski commented on #149
Closing this since it's been updated on the site.  @adambain-vokal I can't remember if this logo made it to the slides, but might want to reference this ticket if it has not.

[2019-02-17 20:59] #149 closed

[2019-02-17 21:02] JoeJasinski commented on #135
This is fixed in the email body, and closing.

[2019-02-17 21:02] #135 closed

[2019-03-15 03:07] JoeJasinski opened #171 "Summary for sponsors to see how many attendees attended each event"
As a ChiPy sponsor, I want to see a summary of attendance for past meetings so I can convince my steakholders to sponsor ChiPy.

@grybox mentioned that it would be great to have a summary page that shows how many attendees attended the past X number of ChiPy events, so sponsors can see how many people are engaging with ChiPy.

[2019-03-15 03:08] JoeJasinski commented on #171
Maybe we can add this to the top of (or as a link on) the ChiPy Sponsor page.

[2019-03-15 16:10] JoeJasinski opened #172 "Future events should show up on homepage sooner"
As a ChiPy attendee, I want to see upcoming meetings on the homepage sooner after the previous meeting has passed, so I'm not seeing past events.

The day after the main ChiPy meeting, I'm still seeing the previous meeting's post. This is because we provide a 24 hour grace period to allow a meeting to still show up even after the event has passed its start time. Reasonably, however, 24 hours is pr

[2019-03-15 16:31] JoeJasinski commented on #168
I'm going to close this since it was done

[2019-03-15 16:31] #168 closed

[2019-03-15 16:44] JoeJasinski opened #173 "The upcoming events on the homepage should not be so long"
As a ChiPy event scheduler, I want to be able to enter a lot of detailed information for an event, without it consuming so much space on the homepage and instead show it on the event detail page, so that the esthetic of the homepage is not disrupted.

Currently on the ChiPy homepage "Upcoming Events" section, if an admin enters a really large description, the box stretches really tall and takes up

[2019-03-15 16:52] #94 closed

[2019-03-15 16:52] JoeJasinski commented on #94
closing per pr

[2019-03-15 16:54] #158 closed

[2019-03-15 16:59] JoeJasinski commented on #167
Projects to consider:
https://djangopackages.org/packages/p/django-ckeditor/
https://djangopackages.org/packages/p/django-tinymce/

[2019-03-15 17:01] JoeJasinski commented on #47
I think we can call this done (since it's been working for years). If we want to run as task, we can open a new ticket for that.

[2019-03-15 17:01] #47 closed

[2019-03-15 17:05] #81 closed

[2019-03-15 17:05] JoeJasinski commented on #81
Closing since there's already a Django 1.11 / Python 3 ticket

[2019-03-15 17:09] JoeJasinski opened #174 "Add a Meeting Title to the Meeting object"
As a site admin, I want to add a custom title to each meeting so that I can convey more info about the meeting similar to meetup.com.

Example:
"ChiPy 2019 January Main Meeting: Ultimate Language Shootout"

Acceptance Criteria:
- This should display on the homepage as well as on the meeting detail page.
- This should integrate nicely with the current design.
- This should not be a required field a

[2019-03-15 17:13] JoeJasinski commented on #39
Some Acceptance Criteria:
- we should add to the meeting detail pages https://www.chipy.org/meetings/110/
- this should not be a required field
- this should have proper database migrations

[2019-03-15 17:18] JoeJasinski opened #175 "Mobile Registration Refactor"
As a mobile ChiPy attendee, I want to be able to easily register from my phone, so I can sign up for ChiPy events on the go.

Right now, the mobile registration workflow for anonymous users is very difficult. The current Javascript popup is not mobile friendly. This is not as much of an issue for logged-in users.

[2019-03-15 17:25] JoeJasinski commented on #91
option: https://django-embed-video.readthedocs.io/en/v1.2.0/index.html

[2019-03-15 17:34] JoeJasinski opened #176 "Add an ical link to the homepage and meeting detail page"
As a ChiPy site visitor, I want to click on an icalendar link for the meeting and have it added to my calendar.

Chipy already supports icalendar format, but it downloads all of the events currently in the system, rather than the current one. Also, the ical url is not linked on the homepage or detail page.

Acceptance Criteria:
 - subclass or modify the existing icalendar logic such that you can s

[2019-03-15 17:40] JoeJasinski opened #177 "Add a test for the contact form"
As a site developer, I want a test/s for the contact form to verify that it's functioning correctly after changes.

Using the existing test framework (pytest), create a test/s to verify it's proper function:

Acceptance Criteria
 - need to mock out the captcha
 - need to make sure we are not sending emails out when tests run
 - needs to pass our existing CircleCI tests and run in there.
 - tests f

[2019-03-16 06:46] JoeJasinski commented on #96
In pr https://github.com/chicagopython/chipy.org/pull/170, I merged in a lot of the python3 updates from the above branch (https://github.com/JoeJasinski/chipy.org/tree/feature/django1.11) and brought over the basic tests from that branch as well.

Before merging in the rest of the python3 branch, I need to figure out how to get a proper test environment to test the Python Social Auth changes.

[2019-03-19 23:59] JoeJasinski opened #178 "Create view for upcoming meeting view"

[2019-03-20 00:10] JoeJasinski opened #179 "Paginate the Past Meetings Page"
As a ChiPy user, I'd like to paginate through the list of past meetings.

https://www.chipy.org/meetings/past/

[2019-03-25 01:41] patrickboland4 opened #182 "update "Donate" page"
![image](https://user-images.githubusercontent.com/5661219/54889977-40fd6800-4e75-11e9-8d39-e687043e6650.png)

[2019-03-26 14:37] tathagata opened #183 "Update check list for talk submission to include code of conduct references"
As an organizer
in order to prevent code of conduct violation by speakers
I would like the talk submission page to include relevant references to out code of conduct

related: #111

[2019-03-26 14:39] tathagata commented on #183
@raymondberg please take a look if you would want any additional details.

[2019-03-26 14:45] tathagata opened #184 "RSVP process should have an optional form input for chipy slack handle"
As an organizer
in order to achieve chipy.org and chipy slack users mapping
I would like to have a field included during the RSVP process that asks for chipy slack handle

Background:
Currently there is no way to do a bulk mapping between the chipy.org site and our active user base on slack. Having this mapping opens up a lot of creative opportunity, the most critical of which is slack reminders f

[2019-03-26 15:01] raymondberg commented on #183
❤️  this

Something like:

[2019-03-26 20:20] tathagata commented on #175
@bhchance this looks like the right issue for some one with frontend expertise.

[2019-03-27 16:48] obf73 commented on #175
I just issued a pr for this.  the branch is bugfix/mobile-registration-refactor

[2019-03-31 21:58] tathagata commented on #175
@obf73 thanks a lot! Thanks to @JoeJasinski the changes have been deployed - I was able to rsvp from safari on ios, I'll check on slack if someone can do a quick verification from an android based browser and we'll be good to close this out. Thanks once again!

[2019-04-01 01:04] tathagata commented on #175
Greg_B on slack verified with an Android device! 🎉

[2019-04-01 01:04] #175 closed

[2019-04-04 19:10] jalletto commented on #178
Hello. I would like to take this issue if it has not been claimed yet.

[2019-04-04 20:02] raymondberg commented on #178
PR welcome!

[2019-04-05 17:20] jalletto commented on #178
It seems that the template for listing all the upcoming meetings will be nearly identical to the one for listing past meetings. Should I create a partial and use it in both cases or is it ok to have some repeated code in this case?

[2019-05-22 14:33] rafmagns-skepa-dreag opened #195 "Referral Page fees are ambiguous"
Per the logic on the referral page, if the salary is $80,000, the employer seems to have the ability to choose whether to pay $500 or $1000.

[code]

[2019-07-19 00:10] raymondberg commented on #171
It sounds like @smandekar1 is interested in this!

[2019-09-20 20:24] smandekar1 commented on #171
Created PR that tabulates and displays RSVPs from the past year.
<img width="1009" alt="Screen Shot 2019-09-20 at 3 20 24 PM" src="https://user-images.githubusercontent.com/11667547/65356484-36205780-dbba-11e9-8c14-b1c583170a11.png">

[2019-10-22 02:22] raymondberg commented on #195
Thanks, @rafmagns-skepa-dreag! I just updated on the site.

[2019-10-22 02:22] #195 closed

[2019-10-22 03:37] raymondberg commented on #182
I think this is solved now? If there's a specific URL lemme know!

[2019-10-22 03:37] #182 closed

[2019-10-22 18:56] ZaxR opened #205 "Add recurring meeting functionality"
Many of our events recur on a regular schedule, and have a common base description (e.g. Project Night). Creating each event manually is tedious.

It'd be nice to be able to set a recurrence schedule for any event, which forward-creates events on a schedule. Events should be editable separately or as a series.

MVP scheduling capability should be on the xth weekday of the month (e.g. 3rd Thursday

[2019-11-12 04:14] elmq0022 opened #207 "Doc: Set DEBUG=True in Heroku Deploy"
In README.md under the Heroku deploy section we have the following:

Unless I'm missing something we should use DEBUG=False.

[2019-11-22 00:58] #207 closed

[2019-11-26 00:04] elmq0022 commented on #116
@raymondberg @smandekar1
Looks like this is up and runnings.  Any  issues with closing this issue.  My only thought is adding a link to the blog from chipy.org.

[2019-11-26 00:13] elmq0022 commented on #127
Are we trying to move away from Meetup. If so we should close this.

[2019-11-26 00:14] elmq0022 commented on #127
I do worry about how people find chipy without Meetup though.  I imagine a lot of people just starting out find chipy via Meetup.

[2019-11-26 00:17] elmq0022 commented on #131
We show an MIT licence.  Closing.

[2019-11-26 00:17] #131 closed

[2019-11-26 00:19] elmq0022 commented on #134
Do we still sell the chipy t-shirt?   If so I want one.

[2019-11-27 00:46] elmq0022 opened #214 "Update Circle CI to for Python 3 Upgrade"
Master is now on Python 3.  Need to update .circleci/config.yml to reflect it.

[2019-11-27 06:24] elmq0022 opened #216 "Bad Alignment on Sponsor List Page for Sponsors without Logo"
Alignment is not good for chipy.org/sponsor/list that do not have a logo, viz Apex systems below.

![image](https://user-images.githubusercontent.com/3450848/69698819-5243f600-1121-11ea-8b26-dc588da3f37a.png)

[2019-11-27 06:33] elmq0022 commented on #30
Related items for #59 #66 merged.  Closing.

[2019-11-27 06:33] #30 closed

[2019-11-27 06:47] elmq0022 commented on #50
Can we close this?  Communication for Chipy has moved to Slack.  I think we should prefer #183 and additional enhancements instead of email.

[2019-11-27 07:09] elmq0022 commented on #45
I think this is a nice-to-have.  Often slides are sent after the meeting and posted to Slack.  This would be an easy form to create.

Questions:

1. What information would we allow to be updated? Just the slide url?
1. How long after the meeting could this be edited?  I suggest no more than a week.

[2019-11-27 07:15] elmq0022 commented on #75
Could we add the phonetic spelling to the about section somewhere in [about](https://www.chipy.org/#about).  Yes a wav would be nice as well.

[2019-11-27 07:17] elmq0022 commented on #80
I hear we are trying to get off Meetup.  Can we close?

[2019-11-27 07:50] elmq0022 commented on #139
@raymondberg this is really old, but do we run the risk of breaking any links to user data?

[2019-12-01 17:01] ZaxR opened #218 "Add meeting titles"
Right now the only way to get a custom title for meeting is to make a new "meeting type". As a result, for the one-off jobs event, I had to create a whole meeting type just to add a title to my post. It would be nice if meeting type gave a default title, but if no meeting type was selected, there was an editable title field.

[2019-12-01 17:10] ZaxR opened #219 "Split sponsors page; Move [current] Sponsors page to main nav bar"
Currently the sponsors page (https://www.chipy.org/sponsors/list/) can only be navigated to via a subnav under "support us," and this page is a combination of both the current sponsors AND info on how to become a corporate sponsor.  Current sponsors should be a page on the top level nav, and the existing "sponsor" page should be renamed to something like "sponsor us".

To mirror that change, the t

[2019-12-03 05:41] elmq0022 opened #221 "Associate by Email Removed from Python Social Auth Pipeline"
@raymondberg,  this issue is in reference to commit
[0d79b92](https://github.com/chicagopython/chipy.org/commit/0d79b92129942ea34adab9e0e31b28d93e2e47a4#diff-5dc2bdfcdb934b65696fbe233c4af500) which removed the chipy lib custom pipeline from the settings.py file.

Here's a link to the [associate_by_email](https://python-social-auth.readthedocs.io/en/latest/use_cases.html#associate-users-by-email) d

[2019-12-04 03:24] elmq0022 commented on #96
Chipy.org official deployed on Python 3.6.9 Monday December 2nd.

[2019-12-04 03:24] #96 closed

[2019-12-08 15:24] elmq0022 opened #222 "Replace uses of Interval Library with Duration Field"
The [interval-field](https://github.com/mpasternak/django-interval-field) is only supported up to Django 1.8.  Django's own duration field provides similar functionality, storing a time delta.

I grep'ed the code base and here's the results showing it's only used on the Topics model.

[code]
The library is only really used in the Topics model and the related form.  My main concern is the preservat

[2019-12-13 03:23] elmq0022 commented on #219
I can take this one.

The top section is a flat page and any additional updates will need to be done by a Chipy admin.  I can move the flat page to it's own location.

![image](https://user-images.githubusercontent.com/3450848/70766089-4dd32c00-1d22-11ea-985a-f3630bdf051a.png)

I also propose adding some way to contact Chipy after the flat page.  Maybe I just duplicate the current contact form?

!

[2019-12-20 04:47] smandekar1 commented on #173
fixed with truncatewords_html on homepage.  Believe this can be closed

[2019-12-20 14:03] #214 closed

[2019-12-20 14:10] elmq0022 commented on #173
Awesome 👍

[2019-12-20 14:10] #173 closed

[2019-12-25 04:54] elmq0022 opened #228 "Add Test Keys and Test Secret to docker.env.test File"
In docker.env.sample set the norecaptcha key and secret to their test/development versions as listed in the google recaptach [faq](https://developers.google.com/recaptcha/docs/faq)

[code]

This would allow the captcha's to work for local development and testing.

[2019-12-29 22:27] elmq0022 opened #230 "Sort RSVP CSVs"
The RSVP CSVs files produced for meetings are not sorted.

[2019-12-31 03:12] elmq0022 opened #231 "Path to Django 2.2 (LTS)"
Trying to get to Django 2.2. The following are bot pull requests for outdated libraries:

1. #206 - Bump Pillow
1. #211 - Bump DRF
1. #212 - Bump Werkzeug

Werkzeurg can be removed (I think).  It was added to the requirements back in 2013 as a development dependency, [commit](https://github.com/chicagopython/chipy.org/blob/19d22481992ab56ac8f46d6134bc777d418d5999/requirements.txt#L18) .

I'm not s

[2019-12-31 21:14] elmq0022 commented on #231
Will use this issue to outline tasks needed to update from Django 1.8 to Django 2.2

### Django 1.8 to 1.9

- [ ] Kill all deprecation warning in 1.8
- [ ] Upgrade  django-nocaptcha-recaptcha to 0.0.20 (fixes Django deprecation of simplejson to json)
- [ ] Remove Werkzeug
- [ ] Remove dependence on django-pgsql-interval-field==0.9.4

[2020-01-01 02:14] #222 closed

[2020-01-01 02:15] elmq0022 commented on #222
Will lump this in with the django upgrade(s).

[2020-01-02 03:43] elmq0022 commented on #171
@JoeJasinski I like the idea of having metrics.  A fair portion of the chipy community has a data slant anyway.

I feel a nice summary page (dashboard) with graphs of relavent meeting information could be really useful.

What would be useful / impressive to sponsors beyond meeting attendance? Maybe the following?
- mentorships completed
- SIGs
- job placement
- first time chipy participants

This

[2020-01-03 18:47] smandekar1 commented on #116
can be closed, probably don't need to link to it.

[2020-01-03 22:29] #116 closed

[2020-01-04 18:28] elmq0022 opened #237 "List of Orphaned Projects in Requirements"
- django-flatpages-tinymce 0.1.1:  Last released: Mar 29, 2011
- django-envelope Last released: May 26, 2017 (doesn't seem to be active)

[2020-01-05 16:47] elmq0022 opened #238 "Pytest Implicit Conversion Warnings; Not Needed?"
In chipy_org/apps/main/tests.py there is a test test_settingspy_env_var which raise the following warnings:

mokeypatach.setenv expects a str value and the cases: True: True, False: False, and 1: '1' can be removed.

[2020-01-05 17:25] elmq0022 opened #240 "Pytest - Cannot Create .pytest_cache Directory"
pytest cannot create a .pytest_cache directory resulting in the below warnings

Possible solutions are:

1. run pytest with the no cache option: `pytest -p no:cacheprovider`
2. create the director and appropriate permissions
3. supply a cache_dir in pytest.ini in /home/app

### Warnings

[2020-01-08 02:10] elmq0022 commented on #205
Hey @ZaxR thinking about how to go after this one.  I assume it's still on the wishlist?

1.  Use custom Django command to create meetings
1.  Use Heroku scheduler to run job daily
1.  Recurring meetings have a start date and an end date
1.  Email admins when new meetings are created
1.  Holidays?
1.  A buffer between created days and display date to allow manual adjustment?

Probably a few tests

[2020-01-10 01:15] #240 closed

[2020-01-10 01:15] #238 closed

[2020-01-10 01:16] #228 closed

[2020-01-10 01:40] raymondberg opened #242 "Resolve social auth migration issue in production"
We seem to be having the same problem in production as documented here: https://github.com/omab/python-social-auth/issues/682

This our output when migrating:

``
Operations to perform:
  Synchronize unmigrated apps: django_gravatar, django_ical, rest_framework, main, honeypot, django_extensions, admin_tools, humanize, about, interval, django_forms_bootstrap, thumbnail, ckeditor, nocaptcha_recaptc

[2020-01-10 01:40] raymondberg commented on #242
For now, the workaround is to apply migrations from apps individually in production.

[2020-01-10 17:01] elmq0022 commented on #242
Any chance of just "faking" the migration migration that fails?  The fields are there so no need to create then.

https://blog.dbrgn.ch/2014/10/30/migrating-django-social-auth/

[2020-01-10 19:34] smandekar1 commented on #179
Is this one able to be closed?

[2020-01-11 12:43] elmq0022 commented on #179
![image](https://user-images.githubusercontent.com/3450848/72204450-aee34200-343d-11ea-8dd7-e4b771010bea.png)

Done!

[2020-01-11 12:43] #179 closed

[2020-01-11 17:32] elmq0022 commented on #242
I made some progress with this issue.  We won't be able to "fake" the migration.  The database and migrations are inconsistent.

Results after faking the first migration:

[code]

[code]

The value for social_auth_code does not exist.

[2020-01-12 02:50] elmq0022 commented on #242
I have a preliminary solution :smiley:.  There seems to be just one table missing from the initial migration.

### Step 1 - fake the initial migration
[code]

### Step 2 - run the following SQL to create the missing table
[code]

### Step 3 - migrate as usual
[code]
I'll do some additional checks, but I think we're back in business.  Hopefully, this won't mess up the existing data.

[2020-01-12 14:39] elmq0022 commented on #242
@raymondberg and @smandekar1,

I was able to create a couple new oauth accounts just fine this morning.   Could one of you verify the steps above before we run it in production?

Also, I have a new pull request to add a make psql shell, #243.  The command runs:

[code]
You could use this psql shell to run the SQL on your dev machine.  This sql was generated from:

[code]
and then trimmed back to t

[2020-01-13 02:09] smandekar1 commented on #242
getting this after step 1.    using the django-upgrade-2 branch
[code]

[2020-01-13 18:04] smandekar1 commented on #242
I was getting this after step 1. running off the chipy master.  I tried migrating contenttypes alone and then step 1 worked.
[code]
step 2 returned ```django.db.utils.ProgrammingError: relation "social_auth_partial" already exists```

[2020-01-14 05:02] elmq0022 commented on #242
@smandekar1 you will need to start with a clean database and back on tag 1.12.1 prior to Django social auth to python social auth migration.  Then mock the upgrade.

 You could nuke the current volume, docker-compse volume rm chipy...    And docker-compse image rm chipy...  Then rebuild the environment.

Alternatively build out a new environment typing the commands in the make file but adding the

[2020-01-14 05:03] elmq0022 commented on #242
Maybe we can test it on your machine Thursday night before running it on the production site.

[2020-01-14 16:44] smandekar1 commented on #242
Sounds good, we can test it on this.  I did delete the database, but I didn't delete the image and start on 1.12.1

[2020-01-15 01:08] elmq0022 opened #244 "Development Environmnet for Windows other than 10 Pro"
Docker is not compatible with any version of Windows save Windows 10 Pro.  To ensure all members of the Chipy community can contribute to Chipy.org, we should provide instructions to setup a Linux virtual environment on windows.

For that reason, I propose that we provide instructions to install Vagrant and an Ubuntu box for local development on windows.  Instructions should be added to the README

[2020-01-17 19:04] #230 closed

[2020-01-17 19:06] elmq0022 commented on #174
Same as #218

[2020-01-17 19:06] #174 closed

[2020-01-17 19:07] elmq0022 commented on #165
Closed by #229

[2020-01-17 19:07] #165 closed

[2020-01-17 19:32] elmq0022 commented on #139
Upgraded to python 3 and resolved python social auth.

[2020-01-17 19:32] #139 closed

[2020-01-17 19:36] elmq0022 commented on #127
Until we get off if meetup.com we should have this.  It's a good first or second pull request.

[2020-01-17 22:07] elmq0022 opened #246 "No Images for Sponsors; Sponsors Missing from Bottom of the Page"
We have the title for Platinum Sponsors, but no sponsors show.

[2020-01-20 22:00] elmq0022 commented on #244
Docker toolbox does provide the tools necessary to use docker on most windows machines.  We will have to provide some additional information for our setup.  Two main issues:

1. Windows and git tends to change LF line endings to CRLF.  This causes the Linux container to crash on startup with an uninformative error message.  Likely can be addressed with a local gitattributes file specifying line en

[2020-01-21 17:38] sophm256 commented on #244
This is going to be a long write up, because I wanted it to be detailed enough in case you want to reproduce any of the setups.

According to link you sent me, https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings , the .gitattributes file overrides an individual's core.autocrlf settings.

### Testing What Happens When You Have a .gitattributes File

**SET UP 1**

I fo

[2020-01-21 18:41] sophm256 commented on #244
###  Port Forwarding Issues

I got the project to run in Docker on Windows 10 after I had added the `.gitattributes` file. But I was not able to get port forwarding set up like in the link I had sent you: https://stackoverflow.com/questions/42866013/docker-toolbox-localhost-not-working (Second answer) . This is because when I open VirtualBox, no machine shows up!

![virtual-machine-empty](https://

[2020-01-22 01:37] elmq0022 commented on #244
I like the approach for using the .gitattributes file, but let's be explicit and call out which files are text instead of which files are binary.  That should be safer.  Off the top of my head, text files should be something like:

1.  *.py
1.  *.sh
1.  *.env
1.  *.css
1.  *.yml
1.  *.js
1.  *.txt
1.  *.md
1.  *.html
1.  Dockerfile

I believe I did the same install as you.  No virtual box installe

[2020-01-22 03:15] elmq0022 commented on #244
@sophm256

Just a little more context.

I wouldn't worry to much about the merge conflicts you mention above.  We'll get the .gitatributes working from our linux / osx machines that use the LF ending and then test the new branch on Windows.  I'm thinking having the .gitatributes file there should prevent the wrong line endings in the first place.

Also, editing files on the windows machine like yo

[2020-01-22 03:16] elmq0022 commented on #244
Push a test branch with a good .gitattributes file, and I'll test it.  Then we can worry about writing instructions.  Sound good?

[2020-01-22 05:02] sophm256 commented on #244
@elmq0022 , I agree with your approach. I'll create a .gitattribute as you've mentioned above.

Yes, I'm familiar with collectstatic. So jquery.js being in that folder would have something to do the anomaly I saw happening ?

Ok, I'll put together a test branch and send it as a pull request. I know we don't have to worry about writing instructions at this point, but what type of instructions would

[2020-01-22 06:44] sophm256 commented on #244
@elmq0022 I just realized something. I'm using a Windows standard account when I'm running Docker and when I was accessing VirtualBox. I went to my Windows Admin account and opened up VirtualBox, I found the Docker machine so it's all good! You don't need to send me the name of the Docker Toolbox file or the hash. I don't think I wouldn't have made this mistake if I was just installing a VM from s

[2020-01-23 04:10] elmq0022 commented on #246
@raymondberg, I believe this got busted when we did the sponsor group update a few months back. We need to add the thumbnails for the sponsors back into the site.  We may need to recreate the "general sponsors" while we're at it.

[2020-01-23 04:11] elmq0022 commented on #246
Though I don't know why we go through "general sponsors" on the front page and not just the sponsors model.

[2020-01-23 07:33] sophm256 commented on #244
I've submitted a draft pull request with a `.gitattributes` file that you can look over and test. I gave maintainers the ability to edit this code.

There were some issues. I went back and looked over `setup1`, which I had talked about in an earlier message. It turns out that there were some CRLF files in there, such as 'settings.py',  `chipy-or/apps/__init__.py` and  `chipy_py/static/icons/meetin

[2020-01-23 21:31] JoeJasinski opened #248 "Talks Submission Email Not working"
I've been noticing that the Talk submission email is no longer getting sent (since around November).

This is the email that gets sent:
https://www.chipy.org/meetings/topics/propose/

[2020-01-24 01:53] elmq0022 commented on #248
I will try to take a look into it this  weekend.  Thanks for the heads up.

On Thu, Jan 23, 2020, 3:31 PM Joe Jasinski <notifications@github.com> wrote:

[2020-01-24 04:36] smandekar1 commented on #248
may need {% load bleach_tags %} on meeting_topic_submitted.html, but still get ModuleNotFoundError: No module named "'django" in logs

[2020-01-24 19:55] elmq0022 commented on #248
thanks @smandekar1 could you drop the log message here for documentation purposes.

[2020-01-24 21:41] smandekar1 commented on #248
[code]

Also, I'm not getting rsvp email confirmations

[2020-01-24 21:49] elmq0022 commented on #248
@smandekar1 do you want to work on the fix for this?   I could write a couple tests to check for proper email functionality instead.

[2020-01-24 21:53] elmq0022 commented on #248
RSVP emails are working in production for anonymous RSVPs.   l don't believe we email users that are logged in.

[2020-01-24 22:01] smandekar1 commented on #248
Ok, that makes sense then, logged in users don't get emailed and anonymous rspvs are working.  I may not get to work on the issue for a few days, but I can do it.  If you know the solution offhand, go ahead and do it.

[2020-01-24 22:18] elmq0022 commented on #248
I'll reply here if I star working on it.

[2020-01-25 02:13] elmq0022 commented on #248
Yes, the load bleach tag was missing.  I made the addtion and and the output of grep for bleach after the fact is shown below.

<pre>zero@debian:~/Python-Projects/chipy.org$ grep -R -i bleach .
<font color="#D33682">./chipy_org/templates/homepage.html</font><font color="#2AA198">:</font>{% load <font color="#CB4B16"><b>bleach</b></font>_tags %}
<font color="#D33682">./chipy_org/templates/homepage.

[2020-01-25 14:41] smandekar1 commented on #248
That sounds good, glad it's working.

[2020-01-26 01:22] sophm256 commented on #218
I have submitted a pull request for this. The changes allows one to have a custom meeting title in lieu of showing the 'meeting-type'. That is as Zax suggested.

It does not show a meeting title as Joe Jasinki specified in issue #174 , which is in the form of `<meeting_type>: <meeting_title>` . I do make changes in all the places Joe specifies in the admin and throughout the pages. I don't impleme

[2020-01-27 00:54] sophm256 commented on #216
I'm going to work on this.

[2020-01-27 17:04] sophm256 commented on #216
**How do I get the logos/pics to show up on the sponsor_list.html?** I went to the admin page. Then filled out the 'sponsor' form and uploaded a picture for the logo .  When I went to visit the sponsor_list page in the browser, I got an error message saying that I didn't have permission for the mediafiles directory. I created that directory and changed the permissions, which made the error go away

[2020-01-28 22:50] elmq0022 commented on #155
This has been corrected.

[2020-01-28 22:50] #155 closed

[2020-01-28 22:51] elmq0022 commented on #99
This is a stale issue without any information.

[2020-01-28 22:51] #99 closed

[2020-01-28 22:52] #136 closed

[2020-01-30 00:37] nick-symon commented on #244
**Using Chocolatey to install Make**
Windows does not have make automatically installed, so we recommend using the package manage chocolatey to install make.

**Step 1. Install Chocolatey**
Follow the instructions at https://chocolatey.org/install to install chocolatey. Please make sure that you open powershell as administrator when following the instructions.

**Step 2. Install make**
Once chocol

[2020-01-31 12:07] sophm256 opened #251 "Subtitles on homepage are links that lead to nowhere"
Subtitles on homepage.html are clickable links that don't lead to anywhere. They are
"Next Main Meeting", "Upcoming Events", "About", "Participate", "Sponsors".  Should they be converted from "\<a\>" tags to "div" tags so that they are no longer links? (Perhaps, we would leave the "Upcoming Events" as a link because someone who'd work on issue #178 could use that.)  But all other links could be co

[2020-02-05 04:26] elmq0022 commented on #251
I would leave these as links as they are used for navigation.  For example the about link at the top of the main page moves to the about section of the page.

However, the default CSS that make these look like navigation links is confusing.  Maybe CSS could be used to style this so they don't appear to be clickable links that lead to nowhere.

[2020-02-05 15:26] sophm256 commented on #251
Yes, but it's possible to remove the links and still be able to use them for navigation.

For example, if the 'about' link on the top nav bar links to `https://www.chipy.org/#about` which is the 'About' section in the body.

In the subheading 'About', the code looks like.

[code]

You could change the 'a' tags to 'div'. This will still allow the 'about' nav link to reference the 'about' section of

[2020-02-06 01:14] elmq0022 commented on #251
If you can make it work that way, sure.  I will approve the update if it
looks good and doesn't break existing functionality.  😉

On Wed, Feb 5, 2020, 9:26 AM Sophan Mien <notifications@github.com> wrote:

[2020-02-06 03:24] elmq0022 commented on #216
I got this to work locally by:

1. in docker.env set USE_S3=False
2. made a directory `mediafiles` to store images
3. gave the user app permission to write files in `mediafiles`
4. created a sponsor with an image
5. created a general sponsor
6. created a sponsor group.

By doing this I got an image for the sponsor on:
1. the homepage
2. the sponsor list view
3. the sponsor detail view

![image](ht

[2020-02-06 13:48] sophm256 commented on #216
Nice job on getting it to work! :cake: I'm still in the middle of setting it up.

Yes, we can talk more about USE_S3 at the meeting as it may be redundant to be defining it in two different places.

[2020-02-06 14:36] sophm256 commented on #216
There is also a possibility that those images online are being served from a folder called 'mediafiles' on Heroku instead of from S3. And maybe the reason one no longer sees them is a permissions issue on that folder, the folder was deleted, or the images were deleted.

[2020-02-07 22:24] sophm256 commented on #216
I followed your setup and still can't see logos. I think I'm going to put this aside for now. If you could help me get it working at the web-guild meeting, that would great.

[2020-02-08 01:27] elmq0022 commented on #216
Sure thing 👍

On Fri, Feb 7, 2020, 4:24 PM Sophan Mien <notifications@github.com> wrote:

[2020-02-09 01:38] #218 closed

[2020-02-09 02:01] elmq0022 commented on #248
@JoeJasinski code fix was merged.  Let me know if you see any issues with the live site.  Thanks!

[2020-02-09 02:01] #248 closed

[2020-02-09 02:06] elmq0022 commented on #244
#247 closes this issue.  Thanks @sophm256 for putting this together. Great work on this one.  Thanks to @nick-symon for testing the windows solution and suggesting Chocolatey for installing "gnu make" on windows.

[2020-02-09 02:06] #244 closed

[2020-02-09 23:08] sophm256 commented on #177
I'm going to try to work on this one.

[2020-02-12 21:34] sophm256 opened #255 "Add "volunteer" nav link as submenu item under "support us""
To encourage volunteering, we can create a"volunteer" nav link as a submenu item under "support us"

I have written the web guild blurb as:  https://gist.github.com/sophm256/9a8937a8e61c553356afd117e95b5110

Please let me know if you'd like me to make any changes. Thanks!

[2020-02-13 03:31] raymondberg commented on #255
This looks great to me! The key is to make a link to a flat-page. I kind of wish we could make a database-driven nav bar instead of needing to deploy every time we change it.

[2020-02-13 04:15] sophm256 commented on #255
Thanks Ray for reading it over!

[2020-02-16 15:50] elmq0022 commented on #231
### Django 1.10 deploy

- [ ] Upgrade Django to 1.10.8
- [ ] Upgrade Django Rest Framework (DRF) to 3.8.2

[2020-02-20 14:57] alysivji opened #258 "Propose Topic -- make length required"
As an organizer, talk lengths help me plan schedules. Should make `Length minutes (optional)` a required field.

This is the page: https://www.chipy.org/meetings/topics/propose/

#### Definition of Done

- form cannot be submitted without a length
- remove optional from form text

[2020-02-21 01:32] #251 closed

[2020-02-21 01:44] JoeJasinski commented on #258
What about if we were to have a setting on the meeting where we enforce the length or not? (I.e. if they select a meeting from the dropdown and the meeting has a length required - which we could default to on - then they would be required to enter a length). Some cases it's more important than others to have an exact length at the beginning?

[2020-02-21 01:53] JoeJasinski commented on #248
Thank you @elmq0022 and @smandekar1, I saw an email come through today

[2020-02-21 01:53] JoeJasinski opened #259 "Sponsor Icons on HomePage missing and Images missing on sponsors page"
I noticed that the Sponsor Logos are no longer showing up on the Homepage and the Sponsor images are no longer visible on the Sponsor List and Detail pages

https://www.chipy.org/sponsors/detail/
https://www.chipy.org/sponsors/detail/imagescape/

It's a nice selling point to our sponsors to have their logos and information there.

[2020-02-21 02:16] raymondberg commented on #255
This is live! Thanks for the great idea, @sophm256.

[2020-02-21 02:16] #255 closed

[2020-02-21 03:45] elmq0022 commented on #248
Awesome 👍

On Thu, Feb 20, 2020, 7:53 PM Joe Jasinski <notifications@github.com> wrote:

[2020-02-21 03:48] elmq0022 commented on #259
Yeah. I opened an issue for this previously.  I am not sure how this
happened.  I tried it on a dev site and the code seems to be working.
Maybe just need to add the icons back to the admin now that I think about
it.

On Thu, Feb 20, 2020, 7:53 PM Joe Jasinski <notifications@github.com> wrote:

[2020-02-21 03:49] elmq0022 commented on #258
I would just require an estimate.  Not that hard to type am estimate.
Personally, I favor less complexity.

On Thu, Feb 20, 2020, 7:44 PM Joe Jasinski <notifications@github.com> wrote:

[2020-02-21 11:49] elmq0022 commented on #259
Adding to existing issue, #246.

[2020-02-21 11:49] #259 closed

[2020-02-22 05:13] smandekar1 commented on #248
Great!

[2020-02-22 14:31] elmq0022 opened #260 "Remove Probably People and Squash/Remove Associated Migrations"
After the recent revamp of the RSVP code we can (and should) remove this package from the code base.

[2020-02-26 01:41] sophm256 commented on #216
For anyone wondering, I have gotten the logos to show up. I was using a .png file which was not showing up, but when I used a .jpg, it did show up.

[2020-02-26 02:46] elmq0022 commented on #216
Adding a note to the admin about using jpg vs a png would be nice. Being
able to use a png as well would be better.  We have the pillow package
installed already, so converting the png to a jpg should be straight
forward.

On Tue, Feb 25, 2020, 7:41 PM Sophan Mien <notifications@github.com> wrote:

[2020-03-10 23:37] JoeJasinski opened #264 "ChiPy Announcement Dialog in the admin is not editable"
On the announcement detail page, the announcement "Text" field is grayed out.

https://www.chipy.org/admin/announcements/announcement/58/change/

![image](https://user-images.githubusercontent.com/417872/76368382-1282d200-62fe-11ea-959e-7fad17543a44.png)

[2020-03-11 00:38] elmq0022 commented on #264
Thanks Joe.  I will look into it as soon as I can.

On Tue, Mar 10, 2020, 6:37 PM Joe Jasinski <notifications@github.com> wrote:

[2020-03-11 02:05] elmq0022 commented on #264
@JoeJasinski  I took a look my local dev with the deployed code.  and a deploy to heroku.  Both work just fine. This unfortunately makes it hard for me to know where to start to fix the issue.

![screen](https://user-images.githubusercontent.com/3450848/76374773-1f112580-6312-11ea-96cd-fbc1d2014039.png)
@raymondberg my credentials don't give me access to announcements on the live site.  Could you

[2020-03-11 02:25] elmq0022 commented on #264
@JoeJasinski I see you did get an announcement up today.  Were you able to get it to work through the admin, or did you need to use a some backdoor?

I also see the prior announcement was posted December 16th, which is actually several deploys back.  I'll see if I can go back to a previous deploy and find where it broke.  It might be easier to try deploying an update version though and seeing if t

[2020-03-11 14:10] sophm256 commented on #264
@elmq0022 I'm just going to throw out some ideas which might or might not work.

idea 1) do a collectstatic in production

https://stackoverflow.com/questions/57089999/ckeditor-in-django-not-working-in-production

https://stackoverflow.com/questions/49020840/django-2-0-1-with-ckeditor-doesnt-work-on-admin-page/54272536#54272536

idea 2) That second link has an answer for django 2, while I know we'

[2020-03-11 15:41] sophm256 commented on #264
@elmq0022 On Slack you said you tested it on your machine and it works. (I haven't tested it.) But along the lines of idea 3, maybe the reason the ckeditor doesn't show up is because the deployed site doesn't have upgraded django-storages and boto3.

I've posted this link before in the above comment. The second answer in that link says "server can't find the static files needed to render ckeditor'

[2020-03-15 20:21] elmq0022 commented on #246
Missing logos are caused by failure to upgrade django-storages.  The issue probably went unnoticed after the initial breaking deploy due to the caching mechanism used by sorl-thumbnail,  Pull request #265 should resolve the issues.

We do have a few additional items that should be addressed:

1. Adequate testing around storages and sorl-thumbnails
2. No proper cache installed - recommend Memcached

[2020-03-17 03:08] elmq0022 commented on #264
@sophm256, I appreciate the thought on all these. I think I'm just going to upgrade the package first and see if that straightens stuff out.

I'd like to take a closer look in prod and try to debug that way, but I don't access to this section of the admin :frowning_face:

Since have not been able to replicate the error, it's going to be terribly difficult to diagnosis.

[2020-03-17 03:10] elmq0022 commented on #264
Looks like version 5.9.0 is tested against django 1.11.x and python 3.6.x

https://github.com/django-ckeditor/django-ckeditor/blob/5.9.0/tox.ini

So, let's roll with that.

[2020-03-22 13:02] elmq0022 commented on #264
This was fixed with #265

[2020-03-22 13:02] #264 closed

[2020-03-22 13:03] elmq0022 commented on #246
This was fixed with pull request #265

[2020-03-22 13:03] #246 closed

[2020-03-22 13:09] elmq0022 commented on #216
@sophm256 do you want to continue working on this one?  Let me know if you have any questions.

[2020-03-22 13:13] elmq0022 commented on #171
Addressed in pull request #202

[2020-03-22 13:13] #171 closed

[2020-03-23 09:01] sophm256 commented on #216
@elmq0022 Yes, I'll continue to work on this one. It should be simple as long as the images show up.

[2020-03-23 13:04] sophm256 commented on #216
I tested the most recently deployed version of chipy by adding logos to the sponsor list page. I had some of the sponsors be without logos.  And the alignment issues have magically fixed themselves. It has been tested in firefox and chrome. It's up to you if you want to close this issue. If the issue comes up again in the future, I can fix it. But as is, it works.

![alignment-logo-3-23-2020](http

[2020-03-23 13:33] elmq0022 commented on #216
Wow.  What a wild goose chase this was.  Probably related to all the thumbnail storages issues.

Thanks @sophm256

Closed

[2020-03-23 13:33] #216 closed

[2020-03-25 22:37] sophm256 commented on #205
@elmq0022 Here is an initial plan regarding the automatic meeting scheduler.

**Add the following fields to the 'meeting' form in the admin panel.** (This involves changing the 'meeting' model.)  These fields will show up under the existing 'registration close date' field. I've used a format similar to Google Calendar's custom recurrence for meetings. Please see the 2 pics at the end down below fo

[2020-03-26 03:52] elmq0022 commented on #205
There's one hiccup that I didn't think about on this. We use the meeting id for RSVPs. Not everyone who responds to this meeting will go to all future meetings. We have the same issue with topics.

So maybe we need an object that is more like a meeting template that we can use generate new meetings.

Think about how this might change the implementation.  Well have to work through this together.  I

[2020-03-26 11:22] sophm256 commented on #205
This currently is a template-like meeting object. It creates a singular meeting (like a normal meeting object would. (I will call this singular meeting the 'parent meeting'). This template-like meeting object I've written above also has the ability to supply the info needed to make the rest of the meetings which will repeat. The Heroku task only creates one meeting at a time within a certain time

[2020-03-26 11:45] sophm256 commented on #205
Based on when you commented (x hours ago), you probably saw my 2nd version of the plan. I have made some changes in a 3rd version to allow the user to control when the meetings are posted. I added the 'Time Interval After Current Meeting to Post the Next Meeting' field in the Admin Panel. This will affect the 'Repeat Meeting Starts' field default value in the Admin Panel. It also will affect the '

[2020-03-26 12:12] elmq0022 commented on #205
Okay.  Yes, that was my misunderstanding.  If you generate a new meeting from a parent there is no issue with the RSVP, or Topics.  Looks really nice.

Could we also have a filter for "parent" meetings in the admin so we can quickly find and modify them when needed.

Also what would happen if a meeting needed to be cancelled or moved forward or backwards.  I think we could always toggle the repeat

[2020-03-26 14:43] sophm256 commented on #205
Thanks @elmq0022 !

I made some more edits in a 4th version to iron out some inconsistencies on how I was naming stuff and some values. I renamed both variables 'next_meeting_period_starts' and 'next_meeting_starts' to be 'next_meeting_posting_period_starts' in the Heroku task.  I also deleted the fields 'Repeat REGISTRATION CLOSED DATE Starts' and 'Repeat REGISTRATION CLOSE DATE Ends' field in th

[2020-03-26 19:50] elmq0022 commented on #205
Another thought.  Let's keep the logic for generating a new meeting with the object that has the information.

This way the Django management command becomes something very simple like:

[code]

[2020-03-26 20:13] sophm256 commented on #205
Are you saying I should have all of the logic for generating the meeting in the template model?

[2020-03-26 20:20] elmq0022 commented on #205
I think so.  Just a single method I hope.

[2020-03-26 20:38] sophm256 commented on #205
Ok, cool. Happy to have your help writing some tests. :smiley:

[2020-03-26 22:52] sophm256 commented on #205
@elmq0022 I opened a draft pull request #269 just to show what I have so far. Could you please take a look at it? I had some errors that I was hoping you could help troubleshoot. Thanks!

[2020-03-29 17:49] alysivji opened #270 "Job Board MVP"
This ticket represents the feature -- will need to write stories and connect them to this epic.

----

### Background

ChiPy has a [Jobs referral](https://www.chipy.org/pages/referrals/) program. There is also a #jobs channel in our Slack workspace.

### Proposed Feature

A job board with open positions that we can host on ChiPy.org would be a great compliment to our jobs program. It would benefit

[2020-03-29 17:50] alysivji commented on #270
@eevelweezel do you have any thoughts on this?

[2020-03-30 23:27] eevelweezel commented on #270
I think we maybe should have posts auto-expire (say, 60 days?), and give submitters some mechanism to request removal of their post.  For sponsors, maybe we could provide a way to override this, and allow them to keep their post up for longer (maybe this ties into "featured jobs")? As for external recruiters, I'm fine with allowing them, provided the they agree to follow our guidelines AND provide

[2020-03-31 01:28] JoeJasinski commented on #264
Thank you @elmq0022 - look good.

[2020-04-01 01:25] elmq0022 commented on #264
Thanks Joe.  I'm glad it works for you.

On Mon, Mar 30, 2020 at 8:28 PM Joe Jasinski <notifications@github.com>
wrote:

[2020-04-01 01:48] elmq0022 commented on #270
I agree with the auto expire feature.  We could definitely make this
configurable, but 60 days sounds like a reasonable default.  I feel like a
lot of this has some overlap with how we handle Topics (approval by an
admin), and how we handle the RSVPs.  It would be good to give job posters
a way to remove their post once the position is filled as well.

On Mon, Mar 30, 2020 at 6:28 PM Heather White

[2020-04-02 15:10] elmq0022 commented on #231
Jumped straight to 1.11 and now working on a 2.2 release. Will post more details as time allows.

[2020-04-14 02:54] JoeJasinski opened #273 "Make presenters more visible on the Topic List page"
As a speaker coordinator, I want to view what speakers are associated with what topics as I browse the topics list.

PR here
https://github.com/chicagopython/chipy.org/pull/272

[2020-04-14 03:24] JoeJasinski commented on #258
Above is a PR that should address this.

[2020-04-14 15:03] alysivji commented on #258
Closed by #274

[2020-04-14 15:04] #258 closed

[2020-04-15 14:08] alysivji commented on #270
Locking down Slack would be a bit of a manual process. Our jobs channel doesn't get the traffic of say Chicago Tech Slack's jobs channel. I think we can have admins moderate until a better path forward is found.

[2020-04-16 17:04] alysivji opened #275 "Add URL for remote events"
Now that ChiPy is all in for remote events we should start making the experience a bit more frictionless for our community.

Currently, we are sharing links to online events on Slack and in the ChiPy.org Announcements at the top. I think it would also be good to share a link in the event itself.

Current event layout:

![image](https://user-images.githubusercontent.com/4369343/79484625-94d77380-7f

[2020-04-16 20:11] elmq0022 commented on #275
This will be a good add.  Will try to take a look this weekend.

[2020-04-17 01:19] elmq0022 commented on #273
#272 was merged.

[2020-04-17 01:19] #273 closed

[2020-04-17 21:34] alysivji commented on #275
Related to this, can we add a link to our YouTube channel in the participate section?

![image](https://user-images.githubusercontent.com/4369343/79615844-3984ae80-80c9-11ea-8881-c97388fe28f4.png)

URL: https://bit.ly/chipy-tube

[2020-04-26 15:25] elmq0022 commented on #275
@alysivji is there a reason we aren't using the live stream field (which already exists) for this request?  If we can use that then nothing needs to change.  Let me know.  Thanks.

![screen](https://user-images.githubusercontent.com/3450848/80311944-2ac48880-87a8-11ea-996a-ac51ea9bf031.png)

[2020-04-26 15:25] elmq0022 commented on #275
Will look at adding youtube as well.

[2020-04-26 15:41] alysivji commented on #275
Had no idea we had a livestream field...! Thanks @elmq0022!

This works without having to do any work.

![image](https://user-images.githubusercontent.com/4369343/80312316-34e78680-87aa-11ea-9404-757e58f5df11.png)

If you are working on this today, it would be nice if we can clean this up a bit with Remote meetings not having a link. Would only be the one livestream link

[2020-04-26 16:00] elmq0022 commented on #275
@alysivji that's great to hear!  Glad it works.  Also I added a link our YouTube using this url:

https://www.youtube.com/channel/UCT372EAC1orBOSUd2fsA8WA

If we need it linked to some other location please let me know prior to 6PM on Tuesday (April 28th) as we plan to push this with the Django 2.2 deploy that evening.

Thanks!

[2020-04-26 16:04] alysivji commented on #275
That URL works!

[2020-04-26 22:01] elmq0022 commented on #275
Great!

On Sun, Apr 26, 2020 at 11:04 AM Aly Sivji <notifications@github.com> wrote:

[2020-04-27 11:13] elmq0022 commented on #231
Pull request: #277 moves site to Django 2.2.

[2020-04-27 11:13] #231 closed

[2020-04-27 11:14] elmq0022 commented on #275
Closed by #277

[2020-04-27 11:19] #183 closed

[2020-04-27 11:21] elmq0022 commented on #133
Chipy is slowly moving away from Meetup.

[2020-04-27 11:21] #133 closed

[2020-04-27 11:24] elmq0022 commented on #152
Stale.  Closing issue.

[2020-04-27 11:24] #152 closed

[2020-04-27 11:25] #80 closed

[2020-04-27 11:28] elmq0022 commented on #57
We have the RSVP list implemented.

[2020-04-27 11:28] #57 closed

[2020-04-27 11:30] elmq0022 commented on #22
Fixed with #229

[2020-04-27 11:30] #22 closed

[2020-04-29 11:27] #275 closed

[2020-04-29 11:29] #167 closed

[2020-04-29 11:30] elmq0022 commented on #91
Added link to your tube channel.  Feel free to reopen if we still want embedded videos and how to approach.  Thanks.

[2020-04-29 11:30] #91 closed

[2020-04-29 11:32] elmq0022 commented on #89
This was updated on April 28th deploy.

[2020-04-29 11:32] #89 closed

[2020-04-29 14:20] sophm256 opened #280 "Change logging out behavior"
Currently the chipy.org/logout goes to a django logout page, where the 'Log in again link' goes to the admin login page. (This is undesirable considering it behaves this way for everyone, regardless if they are an admin or not.)

Change this behavior so that when the user logs out, it goes to a ChiPy themed page, which tells the user they're logged out. (So possibly, change it so that logging out

[2020-04-30 23:31] elmq0022 opened #282 "Login without field throws and Error"
If the user does not fill in the fields below. An error is thrown when they click RSVP.  The user should be prompted for the information instead being shown and error page.

![login](https://user-images.githubusercontent.com/3450848/80768689-af006e00-8b10-11ea-8ab8-f0c22f5ac9eb.png)

![error](https://user-images.githubusercontent.com/3450848/80768727-cccdd300-8b10-11ea-960c-8ebe6e6c4e50.png)

Mayb

[2020-05-01 00:40] #282 closed

[2020-05-03 22:19] elmq0022 opened #286 "Add isort to Makefile Format Command"
We recently added "Black" to our workflow and standardized the format of our code base.  Similarly, we should add isort to sort imports appropriately.  This would remove a manual linting fix.

[2020-05-04 22:55] JoeJasinski opened #287 "Allow Speakers to Submit Updates to their talk submission for approval"
As a Speaker, I would like to be able to update my talk proposal so that a board member can review and approve my changes.

I'm working on a PR that would allow users to view their talk submissions and then submit update drafts to them. This will allow speakers and admins to review the diff of changes. Admins can then choose to approve the changes, which would sync the changes to the live.

[2020-05-05 02:07] alysivji opened #289 "Add Bio textarea to Proposal Form"
We need to add a Speaker Bio to the proposal form

This should be a text area that is required. Having a bio is good for both the speaker and our advertising.

https://www.chipy.org/meetings/topics/propose/

[2020-05-05 12:09] elmq0022 commented on #289
Should we add this to the user profile and give the speaker the opportunity to update it when they propose a topic.  This way people don't have to create a new bio every time the propose a talk.  Though that would update the bio for every topic that user previously presented.

What type of information is valuable here? Years programming, years using python, degree, employer, ... ?

[2020-05-05 13:32] alysivji commented on #289
I'm okay with however y'all decide to implement -- just need this information for marketing and promotions.

Looking at [PaperCall](https://www.papercall.io/me), they have a section for Bio with the following header:

For SIGs, this is how I do it http://bit.ly/chipy-sig-cfp. Just a `Bio` field.

Maybe have a small "tell us about yourself" description above the box

Thinking about this a bit more,

[2020-05-06 01:25] alysivji commented on #270
We had one of our sponsors try out the Jobs form and got some great feedback. For the next round of the MVP, we need the following:

- required field for "Company Website"
- required field for "How to Apply"
  - i would image folks will put URLs and instructions with email / subject requirements
- change the external recruiter question to: "Do you work for a recruiting agency?" or "Is this posting

[2020-05-06 02:16] eevelweezel commented on #270
I'm fine with "Is this posting from a recruiting agency?"

On Tue, May 5, 2020, 20:25 Aly Sivji <notifications@github.com> wrote:

[2020-05-08 16:48] sophm256 commented on #270
@alysivji Would you like there to be a field regarding the location?

'Location' dropdown field that has the following choices: 'Chicago', 'Chicago and Remote' , 'Remote Only'

[2020-05-09 17:44] eevelweezel commented on #270
I would like this, including a mention that we are a local user group.

On Fri, May 8, 2020, 11:48 Sophan Mien <notifications@github.com> wrote:

[2020-05-09 19:14] sophm256 commented on #270
@eevelweezel  Great, I will include this field. How does this wording next to the field sound?

`"ChiPy is a locally based group. The job position must not move the candidate out from Chicago. Working remotely or commuting is acceptable."`

[2020-05-22 17:32] raymondberg opened #293 "My Talks Breaks for Multiple Presentors"
## Problem

Presenter when logged-in is allowed to enter a second/third presenter identity and `my talks` page bombs.

### Steps To Reproduce

1. Login to the site
2. Submit a talk proposal using a name e.g. "Pete Sampras"
3. Submit a second talk proposal with another name e.g. "Peter Sampras"
4. Click the `My Talks` link in the login dropdown

### Result

User View:

[code]

Backend:

[code]

[2020-05-24 02:10] #286 closed

[2020-06-22 17:19] sophm256 commented on #270
TASK 1
On the "after submit job post" page:

1. Instead of having the successful submit job message showing up hardcoded html template, it'll use Django's message system to have a dismissible pop-up.

2. On the "after submit job post" page, there'll be a list of to links of all the job posts the user has submitted.

For each job post submitted, there'll be a link to:

-Edit a job post (once it's s

[2020-06-22 17:32] sophm256 commented on #270
Also, for the list view of the job posts, do we want the user to scroll forever down or do we want to paginate? If we paginate, how many posts should be listed per page so that there's not a big gap if we float or sticky the footer to bottom of the page? Won't this be an issue for different screen sizes?

[2020-06-22 18:19] elmq0022 commented on #270
I suggest pagination with 10 to 20 post per page.  You can probably wait until we have enough postings for this to matter.

[2020-06-25 23:44] #293 closed

[2020-06-26 00:06] #280 closed

[2020-06-27 03:04] elmq0022 commented on #177
@JoeJasinski, I have a pull request #297 that will remove Django envelope from the site, but also adds the testing around the contact form.

[2020-06-27 03:11] elmq0022 commented on #289
@alysivji, Okay I'll pick this up.  But, I think let's add it to the user profile and they can update it as needed.  I think it would be annoying for a repeat speaker to fill this out over and over.

[2020-07-11 00:23] sophm256 commented on #177
@elmq0022 Thanks for adding the test for the contact form!

[2020-07-28 12:24] sophm256 commented on #270
@alysivji, @eevelweezel, @raymondberg, @elmq0022

I am also intending to make the following changes for version two of the job board. Please let me know what you think about them.

1. In a previous comment, I said I'd be adding a 'location' field that would be a drop down menu with the following choices: 'Chicago', 'Chicago and Remote', and 'Remote Only'. **Now I will be adding a 4th choice 'Chica

[2020-07-28 13:28] alysivji commented on #270
I think all these ideas are great, but we're still not done with the MVP. Let's get something out there and then we can discuss next steps.

[2020-07-28 14:46] sophm256 commented on #270
@alysivji Thanks for commenting. Was wondering, what do you consider to be the MVP?

[2020-07-28 15:36] alysivji commented on #270
MVP for me is a job board our community can use. The feature is almost ready to release, but there [some outstanding items](https://github.com/chicagopython/chipy.org/issues/270#issuecomment-624396508) to complete. Would love to incorporate the feedback we got into the next iteration.

Once that is done, we can cut a release and share it with the community! I'm sure we will get additional feedback

[2020-07-29 00:17] raymondberg opened #300 "Change the external recruiter question to: "Is this posting from a recruiting agency""

[2020-07-29 00:19] raymondberg opened #301 "Required field for "How to Apply""
Job board should have a field that's 2500 characters long to let people describe how to apply

[2020-07-29 00:29] raymondberg opened #302 "Implement a min-height requirement for the body of the Job page so the footer doesn't show up near the header"

[2020-07-29 00:33] raymondberg opened #303 "Location field includes (Chicago, Chicago and Remote, Remote Only, Chicago and Temporarily Remote)"

[2020-07-29 00:35] raymondberg opened #304 "Job Type Field includes (Full-Time, Contract to Hire Full Time, Part Time, Paid Internship, Paid Apprenticeship)"

[2020-07-29 00:42] raymondberg commented on #270
I'm catching up for my own understanding. It was a little dense on this issue for me to follow, as such I'm re-updating the list from [@alysivji outline](https://github.com/chicagopython/chipy.org/issues/270#issuecomment-624396508) and [breaking out into cards](https://github.com/chicagopython/chipy.org/projects/2) where not Done:

 * required field for "Company Website" _Done_
 * required field f

[2020-07-29 00:53] raymondberg opened #305 "Improve Index Page Styling"
Per Sophan https://github.com/chicagopython/chipy.org/issues/270#issuecomment-647662709

Something like this is a better view
[code]

[2020-07-30 10:56] sophm256 opened #307 "User Login Dropdown shows link to "My Jobs""

[2020-07-30 10:57] sophm256 opened #308 "Jobs can be in a "Submitted", "Rejected", "Approved" or "Expired" state (may not mean a specific field, but abstracted from the models data)"

[2020-08-01 06:20] sophm256 opened #310 "Add 'job board' link to main nav bar"
Add ''job board' link to main navbar so that "job board" is directly to the left of 'contact' link. This is so users can access the job board.

[2020-08-03 02:24] #310 closed

[2020-08-03 02:25] #308 closed

[2020-08-03 02:25] #307 closed

[2020-08-03 02:25] #305 closed

[2020-08-03 02:26] #304 closed

[2020-08-03 02:26] #303 closed

[2020-08-03 02:26] #302 closed

[2020-08-03 02:26] #301 closed

[2020-08-03 02:27] #300 closed

[2020-08-12 12:53] alysivji opened #312 "Job Board Catch-all"
This ticket tracks high-level progress of new features for Chicago Python Job Board

### High Priority

- sending emails to ChiPy board when a job has been submitted

### Nice to haves

- "featured jobs" -- have a way for sponsors job
- search; good feature to add once we have more jobs
- periodically post jobs from website to Twitter, LinkedIn, or Slack
  - it would be great if this jobs board is

[2020-08-12 12:54] alysivji commented on #270
With the MVP done, closing this in favour of #312 which will track the progress of issues related to the ChiPy Job Board.

[2020-08-12 12:58] alysivji opened #313 "[Job Board] Send email to admin when new job is submitted"
As a Job Board admin, I want to know when new jobs are submitted and require approval.

#### Current Workflow

I have check the admin page every 4-5 days to find out when if there was a new posting.

#### Definition of Done

- the same email(s) that gets notified of new talk submissions should get notified of new job submissions

#### Notes

- this is part of the larger requirement of being able t

[2020-08-12 13:00] #270 closed

[2020-08-25 03:40] alysivji opened #317 "Adding calendar event to RSVP email"
As a user, I want to get a calendar invite when I RSVP to a meeting using ChiPy.org.

This is low priority as we are using Meetup for virtual events. When we start meeting in-person again and if we are still using ChiPy.org to get RSVPs for the main meeting, it would be nice to have this.

#### Resources

- [Email Markup](https://developers.google.com/gmail/markup/getting-started)

[2020-08-25 12:45] elmq0022 commented on #317
Also see issue #176.

Additionay we haven't sent emails to logged in users, just the anonymous ones.  Is this something we should change?

Could we push the site to only nonanonymous RSVPs? It would be clearner and normalize our data in the database.

Last I looked most of the RSVPs were anonymous.

[2020-08-25 13:38] alysivji commented on #317
I don't know what we do now or how the database is set up, I'm just thinking in terms of how I want RSVPs to work as a user (anonymous or not).

Maybe it's just me, but I find it difficult to get iCal events into my calendar: I have to download the event and import it into my calendar. Not sure how Meetup does it, but it feels like anytime I RSVP to something, it appears on my calendar and I don't

[2020-08-25 14:58] elmq0022 commented on #317
Makes sense.

I didn't state what I was really thinking. That we should perhaps have a
larger project on how to handle RSVPs after leaving Meetup.

Do you think this is a good idea? Or is it more work for little benefit?

On Tue, Aug 25, 2020, 8:39 AM Aly Sivji <notifications@github.com> wrote:

[2020-08-25 15:08] alysivji commented on #317
My problems with our current setup:
- only the main meeting is prominently featured
- links do not unfurl nicely

I think there needs to be a wider discussion about homegrown versus meetup. I mostly created this ticket to add it to the backlog, but it's definitely something we need to think about before we start holding in-person events.

[2020-09-04 02:13] alysivji commented on #313
Closed by #314

[2020-09-04 02:13] #313 closed

[2020-09-04 02:17] alysivji opened #319 "[Job Board] Post approved jobs to Slack"
As an admin, I would like jobs I approve on the ChiPy job board to be posted to the ChiPy Slack jobs channel. We can guarantee uses agree to our Referral Policy when they submit jobs via our website.

#### Definition of Done

- post job when it is approved
  - job should only be posted once, no matter how many times it is approved
- create a template (maybe using Slack Block Kit) for Slack job pos

[2020-12-06 23:17] elmq0022 opened #327 "Development Data"
When chipy.org is brought up locally there is no data (meetings, topics, users, rsvps, etc) in the database.  The data can be helpful for exploring the site, testing or even developing new features.  I propose that we have a custom management command that populates some initial data useful for development.

1. expired main meeting
1. up coming main meeting
1. next upcoming meeting
1. sociated topi

[2021-01-08 16:47] sophm256 opened #339 "Increase max length of job description field in JobPost model"
Increase the length of the max length of the job description field in the JobPost model from the job-board app. Set the max length to be 4500 and change the help text also.

[2021-01-12 01:40] elmq0022 commented on #339
Let's do 5,000 just for the heck of it.  It's not that much data.  Thanks!

[2021-01-15 02:52] elmq0022 commented on #339
see #340 thanks!

[2021-01-15 02:59] elmq0022 opened #341 "Changing Anonymous RSVP after Meeting Closes Raises Error"
Anonymous RSVPs can be changed via a secret alpha numeric key of 40 characters.  If a user tries to change an anonymous RSVP after the meeting is closed by navigating to /meetings/rspv/[a-z0-9] an error is raised instead.

At minimum the site should instead at least show a 404 page instead of raising an error.

I think it would be highly preferably to let the user know that RSVPs for that meeting

[2021-01-15 06:02] elmq0022 commented on #341
in UpdateRSVP view

[code]
The issue is the return redirect line.  this returns a redirect object and not an RSVP object.

The logic to check it a meeting can still be registered should be moved to the get method and cal an HttpResponseRedirect there.

[2021-01-22 01:24] #341 closed

[2021-02-09 23:35] #339 closed

[2021-02-09 23:36] #327 closed

[2021-02-10 00:37] sophm256 opened #354 "Label all images and icons with 'alt' texts"
In order to increase accessibility, provide 'alt' texts

See https://webaim.org/techniques/alttext/
For more info you can look at https://webaim.org/search/?q=alt%20attribute

Label all images and icons for the following pages and areas:

-  /chipy_org/templates/shiny/homepage.html
(note: the featured sponsored section has logos that change intermittently and dynamically. If possible try to identi

[2021-02-10 16:33] cjoshmartin commented on #90
useful files:
https://github.com/chicagopython/chipy.org/blob/master/chipy_org/apps/profiles/templates/profiles/edit.html
https://github.com/chicagopython/chipy.org/blob/master/chipy_org/apps/profiles/models.py

[2021-02-10 17:00] raymondberg commented on #90
Phone is useful for reaching out to presenters in emergencies.

[2021-02-10 17:00] raymondberg commented on #90
I'm actually not sure what release means now :D

[2021-02-11 11:38] elmq0022 opened #355 "Use pyproject.toml to manage all configurations"
Move the configurations to the pyproject.toml for all tools that support it.  This would put all our development tool settings into a single location.

A list of tools that support pyproject.toml can be found at [awesome pyproject.toml](https://github.com/carlosperate/awesome-pyproject)

We use isort, pylint, and pytest.  We also have a single setup.cfg with settings for flake8 and coverage.  I'm

[2021-02-11 11:47] elmq0022 opened #356 "Manage all project requirements with pipenv"
By itself, pip does not determine project the install requirements for packages all that well.  This can lead to manually sorting through project versions when upgrading the packages used for chipy.org.

To make upgrading packages easier, I propose we move to [pipenv](https://docs.pipenv.org/) to manage the packages used in chipy.org.

[2021-02-11 16:11] CarlFK commented on #90
release = does the presenter(s)? give permission for a recording of their presentation to be made public.  (posted on the internet)

the x=true here takes the place of printing a form, getting is signed and keeping it on file in someone's filing cabinet.  No one wants to do that, and it turns out it isn't really needed as long as the presenter(s) are given the choice and their choice is stored som

[2021-02-11 22:42] raymondberg opened #357 "Contact us pops up with cute python mail"
We have a cute design that we never used in the redesign. We should use it instead of redirecting to the homepage! Or before redirecting.

![image](https://user-images.githubusercontent.com/5155488/107707808-1777a080-6c88-11eb-8b56-f4e325fb2483.png)

@sophm256 and @raymondberg  have access to

[2021-02-11 22:43] raymondberg opened #358 "Flat Pages should allow for specifiying custom images"
As a creator of a flat-page, I would like to be able to specify a custom/appropriate image for the header of my page. This could be a dropdown or manual entry for basic functionality. Images could be uploaded via the Admin, but more likely it would be good to have them committed to the source code like the other headers.

[2021-02-11 22:50] raymondberg opened #359 "Change Upcoming events to "Train Stop" interface"
There's this really cool interface that was part of the original design, but was too complex to implement quickly. We'd love to see it replace the "Upcoming meetings page"

![image](https://user-images.githubusercontent.com/5155488/107708196-b69c9800-6c88-11eb-8f20-ec527b3c1b85.png)

Requirements
* Show minimum of one event in the past (possibly two if you think it looks better)
* Show up to 4 eve

[2021-02-11 22:54] raymondberg opened #360 "On ‘speak’ page, move “Give a Talk” title to the header"
Right now, [the speaker page](https://www.chipy.org/meetings/topics/propose/) has a blue, in-content header.

![image](https://user-images.githubusercontent.com/5155488/107708632-66720580-6c89-11eb-8737-f74abba34ebc.png)

We'd like it to look more like the other pages which put the header in all caps on the image. E.g [The Donate page](https://www.chipy.org/pages/donate/)

![image](https://user-im

[2021-02-11 22:54] sophm256 opened #361 "Move 'Create a Job Post' and 'Update a Job Post' to the Header"
When you try to post a job, it takes you to a form. At the top of the form the blue title says 'Create a Job Post'. Modify the template file so that 'Create a Job Post' shows up in the header area instead (in front of the background image) if you're trying to post a job. This same template will print 'Update a Job Post' if you're trying to update a job post.  Again, change that same template so th

[2021-02-11 22:56] sophm256 opened #362 "Put some more space between 'topic' section and 'meeting' section for each meeting detail"
Using bootstrap margin or padding classes, in the meeting detail page for specific meetings, put some more space between the 'topic' section and 'meeting' section.

[2021-02-11 22:57] raymondberg opened #363 "You can't dismiss messages!"
Right now, when you submit a message or a job, our "messages" pop-up has an (x),
 but cannot be clicked. The result is a permanent message you can't dismiss. Sure,
you could click to another page, but why not make the (x) work?

See this example found after submitting the contact form.

![image](https://user-images.githubusercontent.com/5155488/107709045-2d866080-6c8a-11eb-8859-3a71e13f73a4.png)

[2021-02-11 23:01] raymondberg opened #364 "Replace pagination links or space them out in past meeting links"
Following our redesign, our [Meeting pagination](https://www.chipy.org/meetings/past/) is a little bonkers.

![image](https://user-images.githubusercontent.com/5155488/107709199-75a58300-6c8a-11eb-88d6-6733a31ec468.png)

Space it out or do something to make it look like we don't have 1,234,567,891,011,121,314 meetings. The [Job Board](https://www.chipy.org/job-board/) has nice pagination as an exa

[2021-02-11 23:03] sophm256 opened #365 "Fix the 'more' button in the 'Post a Job' form page so that a modal pops up"
When you go to the 'Post a job' form page and press 'more' button, a modal used to pop up that talked about location requirements. Fix it so that this modal shows up correctly again.

[2021-02-11 23:21] raymondberg opened #366 "Display Upcoming Events in REVERSE cronological order"
Definitions:
  soonest - the meeting that is happening sooner than all other meetings
  furthest - the meeting that is happening later than all other meetings

Right now the [upcoming events page](https://www.chipy.org/meetings/) displays the furthest future meeting first, and the most pressing, soonest meeting last. 🤦 <- me having done that

We should, of course, list them in reverse order: soone

[2021-02-15 17:31] elmq0022 opened #371 "Use Pytest for all Tests"
We would like to modernize our tests to use pytest instead of python's built in UnitTest framework.

Additionally, let's move repetitive code into reusable pytest fixtures where applicable to reduce code replication.  Tests should have a descriptive name and be focused on a single piece of functionality for that application.

There are, or at least should be, tests for each of the applications in

[2021-02-19 00:54] #360 closed

[2021-02-19 00:58] raymondberg opened #372 "Homepage template should be in main app"
Why is it in the root templates folder? Very confusing!

[2021-02-19 00:59] raymondberg commented on #372
@raymondberg Oooo ooo, I will work on this tonight. Anyone want to join me?

[2021-02-19 01:01] raymondberg opened #373 "Webhook notifications to #web-guild on github activity"
## Problem

It would be cool to not have to post messages to both the issue and web guild, for example. Or to post new prs that I open.

## Acceptance Criteria

Web guild is notified via slack when a new PR is opened.

[2021-02-19 01:55] #372 closed

[2021-02-19 02:41] #361 closed

[2021-02-19 12:26] elmq0022 opened #377 "The command make setup_env may not work properly on windows"
Problem:
Steps say that we should run make setup_env before spinning up docker for the first time.  This did not work on windows.

Requirements:
Solution needs to work on windows, linux, and MacOS.

[2021-02-21 03:36] sophm256 commented on #359
I will take a shot at working on this.

[2021-02-26 04:55] #359 closed

[2021-02-27 13:34] sophm256 opened #380 "Issue for an admin -- remove link to 'report page'"
This is an issue for an admin for resolve by logging into the admin dashboard and changing a flatpage.

On conduct page https://www.chipy.org/pages/conduct/ , there's a link to the 'report page' https://conducthotline.com/e/chipy that leads to a 500 error.

Remove the link to report page.

[2021-03-05 03:14] sophm256 opened #382 "Fix homepage to show next meeting correctly"
On the homepage chipy.org, the 'next meeting' blue button does not show the date of correct next meeting. For example, algo sig had a meeting today and it did not show that. Fix it so that date of the correct next meeting shows.

Also, fix it so that the correct next meeting shows up in the 'next meeting' section.

[2021-03-06 18:48] patrickboland4 opened #383 "Clarify docker download and start instructions in README"
After downloading docker and docker-compose, I followed along the README, until `$ make up` produced the following:

[code]

I received the same error after running `$ sudo make up`.

The solution was, I needed to run the docker application on my Mac, which prompted me for the root password.

I'd like to provide just a bit more clarity around starting Docker, especially for folks who are less fami

[2021-03-07 00:16] elmq0022 commented on #383
Yes, we should definitely do that.  I don't have a mac to test on so help
there would be appreciated. I can add additional information for linux and
windows prior to WSL.

On Sat, Mar 6, 2021 at 12:49 PM Patrick Boland <notifications@github.com>
wrote:

[2021-03-10 04:09] sophm256 opened #385 "Revise README instructions for windows users"
Docker Toolbox is now deprecated.

- Revise instructions for  "For Windows 7 to 10 Non Pro, 64-bit" to install Docker Desktop according to the link https://docs.docker.com/docker-for-windows/install-windows-home/
 (this installation includes  Docker and Docker Compose)

- Revise instructions for  "For Windows 10 Pro, 64-bit"  to install Docker  Desktop  according to link  https://docs.docker.com/d

[2021-03-10 04:16] sophm256 opened #386 "Change README to include command on how to access psql"
To access psql,

- make shell (to get a Bash shell through Docker)
- python manage.py dbshell

Change the README to include these instructions.

[2021-03-10 04:29] sophm256 opened #387 "Change wording on job post page"
The referral model for job postings has been changed to a fee based model.

On the template for the form to create a new job post, change the sentence:

`I have read and agree to the referral terms, which includes giving a referral fee when a candidate is hired/placed.`

to:

`I have read and agree to the referral terms, which states that job posts are FREE for existing and new ChiPy sponsors, or

[2021-03-10 11:51] #363 closed

[2021-03-15 00:53] sophm256 opened #388 "Put margin on bottom of logo on homepage"
Problem:
On the homepage, in the 'Next Meeting' section, if the next meeting has no topics displayed after them, the next section to display is the 'Join Us' section.  If the sponsor logo (on the right column) is shorter in height than the 'Next Meeting' (left column), there'll be enough space between the logo and the 'Join Us' section. (See Zoro logo pic below)

But if the sponsor logo is taller

[2021-03-15 01:12] sophm256 opened #389 "Put code back in that allows TinyMCE to work correctly"
During the redesign,
`{{ form.media }}` was accidentally removed. This is necessary for TinyMCE to work on the fields for the site. Put this back into new `site_base.html` . Please add it within the `<head> </head>` section, but before you get to the `{% block extra_head %}{% endblock %}`

To check that it works, you can browse to the 'speak' page https://www.chipy.org/meetings/topics/propose/# an

[2021-03-18 15:07] #145 closed

[2021-03-18 15:08] #132 closed

[2021-03-18 15:09] #75 closed

[2021-03-18 15:09] #83 closed

[2021-03-18 15:10] #39 closed

[2021-03-18 15:10] #50 closed

[2021-03-18 15:13] #2 closed

[2021-03-18 22:00] sophm256 opened #393 "Change README to add instructions for 'make dev-data'"
In README, add a section regarding 'make dev-data'. Say that if you want mock data for development, run 'make dev-data' after you have run 'make migrate' the first time. ('make migrate' creates your database tables, while 'dev-data' populates those tables with mock data.)

[2021-03-19 23:41] tym-xqo commented on #366
This looks to me like perhaps it got fixed at some point? Maybe this could be closed?

<img width="639" alt="Screen Shot 2021-03-19 at 18 39 40" src="https://user-images.githubusercontent.com/10351894/111851759-89c04e00-88e2-11eb-9c90-f3e5336e37f0.png">

[2021-03-20 02:04] #389 closed

[2021-03-20 02:08] elmq0022 commented on #366
Thanks @tym-xqo - this is stale.  I'll close these to help people know what still needs to be done.

[2021-03-20 02:08] #366 closed

[2021-03-27 08:09] #380 closed

[2021-04-15 00:54] eevelweezel opened #401 "Add "IncBuilders Partnership Opportunity" to job board"
We want to be able to differentiate positions that are posted through our partnership with IncBuilders from other job postings.

Let's add a checkbox on the job posting form, with the text "This is an IncBuilders Partnership Opportunity".  If checked, let's display the text "IncBuilders Partnership Opportunity" on the posting and in the list view, maybe below the position and company name?  Or may

[2021-04-16 00:58] #382 closed

[2021-04-16 02:22] nickymarino commented on #385
@sophm256 I think this can be closed since #402 is merged

[2021-04-16 02:26] nickymarino opened #403 "Add instructions for a first contribution"
At project nights, we walk through how to fork, clone, and make a first contribution to the site, and I think it'd be helpful to document a list of steps in the repo

[2021-04-16 02:41] nickymarino commented on #393
@sophm256 I think this can be closed since the README already has a `make dev-data` section: https://github.com/chicagopython/chipy.org/blame/main/README.md#L118-L122

[2021-04-16 04:27] #385 closed

[2021-04-16 04:29] #388 closed

[2021-04-16 04:31] sophm256 commented on #387
PR #397 has been merged that fixes this issue.

[2021-04-16 04:31] #387 closed

[2021-04-16 04:31] #365 closed

[2021-04-18 00:45] nickymarino opened #407 "Update Makefile "docker-compose" commands to "docker compose""
I ran `make up` and got a message from Docker that `docker-compose` commands should be moved to `docker compose`:

[code]

I get the same message for running a generic `docker-compose --help` command:

[code]

Here's the versions of `docker-compose` and `docker` I'm using:

[code]

[2021-04-18 06:07] sophm256 commented on #393
@Thanks @nickymarino . It looks like I can close this.

[2021-04-18 06:07] #393 closed

[2021-04-20 02:10] elmq0022 opened #409 "As an Chipy Admin I want the Job Board admin to match what is displayed in frontend so there is no confusion."
Job board admin does not correctly reference the sponsor or $50 plan like the front end.

[2021-04-20 02:22] elmq0022 opened #410 "As an admin I want an email sent to the author of a new job post so they know their post is pending review and approval"
Acceptance Criteria

1. Send an email to authors of a job post after they submit.
2. Thank them for their post.
3. Inform them that post is pending review
4. Remind them that they need to be a sponsor or make a $50 donation per job post to use the job board
5. Provide a link to the sponsor page
6. Provide a link to the donation page.

[2021-04-25 03:14] #364 closed

[2021-04-25 04:15] #383 closed

[2021-04-25 04:20] #354 closed

[2021-04-27 02:06] #409 closed

[2021-04-29 12:43] elmq0022 commented on #407
I'd like to wait on this a bit - I'm running Ubuntu 20.04 (current LTS) and the new compose command for the docker CLI is not available yet.

Docker version 20.10.2, build 20.10.2-0 ubuntu1~20.04.2
docker-compose version 1.25.0

Can we do some more research about when the change will take place?

[2021-04-30 12:23] elmq0022 commented on #407
I thought about this some more.  I am in favor of doing this update if we can make the commands used in the Makefile docker version dependent.

The other option I thought of is setting this through an environment variable.  We could use `docker-compose` as the default command and switch to `docker compose` with an environment variable, maybe `CHIPY-DOCKER-COMPOSE`.

[2021-05-01 17:44] elmq0022 commented on #401
Hi @eevelweezel  - I added the the Inc Builder affiliation at the bottom of the Detail View.   I can add it to the list view as well if you like.

I think you're right about posting directly with something like cURL.  We us OAuth2 with github and google as options for authorization.  So, I believe they would just have to pass their token in a cURL request.

If you think it's worth it, I could take

[2021-06-03 04:43] #403 closed

[2021-06-05 20:36] #401 closed

[2021-06-17 23:31] #410 closed

[2021-09-14 02:57] spark-c commented on #377
_Just for other newbies, since it took me a minute to realize what was happening:_

This step is meant to copy the file "docker/docker.env.sample" (default settings for the project) to "docker/docker.env". On Windows, it results in:

[code]
That `make setup_env` command attempts to run `cp -n docker/docker.env.sample docker.docker.env || true` which doesn't work on Windows due to it not recognizin

[2021-11-17 03:16] elmq0022 opened #423 "Sponsor detail view should display the logo if availiable and if not fallback to the sponsor name."
Please see attached.  I think we should do the logo if we have it and if not we should use the sponsor's name.  In terms of accessibility the logo should have the company as a fallback.

![sponsor-example](https://user-images.githubusercontent.com/3450848/142128403-838dbde1-4afe-4cb8-853a-780baf99b758.png)

This should be the correct template to update
chipy_org/apps/sponsors/templates/sponsors/sp

[2021-11-17 03:39] elmq0022 commented on #423
Also lets make make the description allow basic html tags so proper paragraphs can be added to a description.  We have django-bleach==0.6.1 available so we can filter for any script tags and such.

There's also a couple rich text editor fields (not sure why we have two) available which would be extra credit / stretch goal.  I'd be really really happy with basic tags for now. Just prevent large blo

[2021-11-17 03:42] elmq0022 commented on #423
https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#autoescape

Explains autoescape; turn it off for this section and filter the text with django bleach.

[2021-11-20 15:44] #423 closed

[2021-11-20 16:03] elmq0022 opened #426 "Add RSVP Wait List"
The organization will eventually return to in-person meeting in a limited capacity.  It is highly likely that the there will be both in person and virtual attendees.  To facilitate this following features will need to be added to the reservations system.

**Features**
1. RSVP Type - IN_PERSON or VIRTUAL
2. RSVP Status - ACCEPTED, WAIT_LISTED, or DECLINED
3. Meetings should have a max attendance IN

[2021-11-21 13:17] elmq0022 opened #427 "Sponsor Logos are not sized to width on mobile layout"
Need some CSS or some other method limiting the image size to the mobile layout.

![Screenshot_20211121-071101](https://user-images.githubusercontent.com/3450848/142763399-9b2b7045-0f6a-44de-bbea-d442851c698c.jpg)

[2021-11-21 13:20] elmq0022 commented on #427
@spark-c is this something you could pick up?   You seem pretty good with CSS.

[2021-11-21 18:34] spark-c commented on #427
Sure thing!

[2021-11-22 14:40] elmq0022 commented on #427
Thanks! I would really appreciate that.  It's important that the site look
good especially for our sponsors.

On Sun, Nov 21, 2021 at 12:34 PM spark-c ***@***.***> wrote:

[2021-11-23 23:14] #427 closed

[2021-11-24 03:29] raymondberg opened #432 "Switch from norecaptcha-recaptcha to django-recaptcha"
We used an unmaintained fork from Imaginary Landscape to get us through the recaptcha v2 conversion years ago, but it has no updates and cannot support Django 4.0.

Switch to the standard django-recaptcha library and get our captchas working!

Check by running django with `python -Wd ...` to see whether you've fixed the issue.

[2021-11-24 03:30] raymondberg opened #433 "Upgrade Django Social ahead of Django 4.0"
We have deprecation waning and need to get on a newish version of Django-social.

Check by running django with `python -Wd ...` to see whether you've fixed the issue.

[2021-11-26 12:44] elmq0022 commented on #386
We should expect devs to know Django's management command and to leverage Django's documentation to find this if they need it.

[2021-11-26 12:44] #386 closed

[2021-11-26 12:50] elmq0022 commented on #356
Closed by #429

[2021-11-26 12:50] #356 closed

[2021-11-26 12:59] elmq0022 commented on #319
@alysivji we have all approved jobs posted to slack once a week on Wednesdays.

Does this cover the use case, or should new jobs posted immediately when first approved as well?

[2021-11-30 16:46] alysivji commented on #319
Weekly posting totally covers the use case I was thinking about. Closing this issue

[2021-11-30 16:46] #319 closed

[2021-12-13 16:02] elmq0022 opened #437 "Replace All Instance of tinymce with django-ckeditor"
Updating django-tinymce past version 3.1.0 was not done as part of the django 2.2 to django 3.2 migration.  There is an undiagnosed breaking change in our codebase.  This library should be updated to the latest possible version as it is listed as compatible with django 3.2.

The django-tinymce change log can be found [here](https://django-tinymce.readthedocs.io/en/latest/history.html#id3).

[2021-12-13 22:16] elmq0022 commented on #437
I've more or less had it with django-tinymce integration we're using.  For what should be as easy as adding a cdn and a js hook to instantiate the editor it has given me a fair bit of grief.

I will replace all instance of django-tinymce in our project with the django-ckeditor which is already part of our code base and has been less aggravating to work with for me personally.

This will happen sho

[2021-12-14 03:39] #437 closed

[2021-12-14 03:39] #426 closed

[2021-12-15 14:03] elmq0022 opened #440 "Keep footer at bottom of the Site"
The footer should always be at the bottom of that page regardless of the amount of content on put on the page.

![image](https://user-images.githubusercontent.com/3450848/146200539-ca89cffc-60f5-4ab7-abeb-31d7e56d9fb4.png)

[2021-12-15 14:08] #440 closed

[2021-12-16 12:10] elmq0022 opened #442 "Our Forms Need Some TLC"
Chipy.org currently has forms with inconsistent styles on fields and poor alignment.  I propose migrating to django-crispy-forms instead of the django-forms-bootstrap library we use now as it is a repository with over four thousand stars vs the django-forms-bootstrap which only has ~200 starts and may not be under active development.

https://github.com/django-crispy-forms/django-crispy-forms
http

[2021-12-18 15:35] elmq0022 opened #444 "Address the Chipy Board Feedback on Wait List System"
- [ ] The waitlisted response should be yellow not green
- [ ] Add Waitlist count to site and  registration message after registering.
- [ ] Change field name from "Response" to "Attendance Type"?
- [ ] Capitalizing the first letters of the options

[2021-12-22 20:32] #433 closed

[2021-12-22 20:33] #442 closed

[2021-12-22 22:50] elmq0022 commented on #432
hmmmm ... seems unmaintained

https://github.com/praekelt/django-recaptcha/issues/244

will added it because it's easy and hope someone updates it or forks it.

[2021-12-22 23:15] elmq0022 commented on #432
we could move to simple captcha as well.

[2021-12-24 14:33] #432 closed

[2022-03-11 23:38] JoeJasinski opened #464 "Fix sponsor wrapping on "Our Sponsors" page"
Our sponsor logos are wrapping weird when there are several on the same level. For example, Braintree and JFrog are on the same line and aren't aligned properly. We've had some comments

https://www.chipy.org/sponsors/list/
![image](https://user-images.githubusercontent.com/417872/157989080-5dbb8a30-5166-48ac-a9dd-c6fb7560d996.png)

[2022-03-14 22:50] elmq0022 commented on #464
I asume that's the case, not putting them on the same line.

On Mon, Mar 14, 2022 at 9:33 AM Raymond Berg ***@***.***>
wrote:

[2022-03-15 02:27] sophm256 commented on #464
The simplest thing to do would be to put each logo on a different row. The code for when there is a logo and when there isn't a logo (text only of the comany) would need to be changed. I think, currently for Silver, it's trying to put all 3 logos on one row and the 3rd logo (Zoro) gets wrapped to the next row.

[2022-03-15 02:48] sophm256 commented on #464
I'll work on this.

[2022-03-19 15:19] elmq0022 commented on #464
Looks really nice.  Closed.

[2022-03-19 15:19] #464 closed

[2022-03-20 20:11] elmq0022 opened #467 "As an Administrator I want Django Recaptcha for Captchas"
The django recaptcha project was dropped by [Praekelt Consulting](https://github.com/praekelt/django-recaptcha), but is now continued by torchbox, see https://pypi.org/project/django-recaptcha/.

We moved to django-simple-captcha, but it's ability to reduce spam from bots has been significantly less performant.

I would like to move back to django-recaptcha to reduce the amount of spam email we ad

[2022-10-03 23:39] JoeJasinski opened #475 "Upcoming Meetings Lost under the Fold"
It would be good to see more upcoming meetings on the homepage. For example, when the Algo SIG is the most recent meeting, it obscures the Main meeting a week later and makes it harder to discover the upcoming agenda.

It would be good to add that back, even if it's just a very short summa4y and a link to the detail page, so people can more quickly see our upcoming agenda.